
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    <div style="padding-left: 5%">
<form action="/register" method="post">
    <div class="col-md-3">
     <div class="form-group">
       <label>Name* </label>
       <input class="form-control" type="text" name="name"/>{{errorMessage}}
    </div>

    <div class="form-group">
       <label>Email*</label>
       <input class="form-control" type="email" name="email"/>
    </div>

    <div class="form-group">
       <label>Username*</label>
       <input type="text" class="form-control" name="username"/>
    </div>

    <div class="form-group">
       <label>Password*</label>
       <input type="password" class="form-control" name="password"/>
    </div>

    <div class="form-group">
       <label>Re-password*</label>
       <input type="password" class="form-control" name="repassword"/>
    </div>

                   <div class="form-group">
                        <label>Role*</label>
                        <select class="chosen-select form-control" data-val="true" data-val-required="This value is required." id="role" name="role" style="width: 200px;"><option value="">Select Role</option>
                        {{#each role}}
                       <option value="{{role_id}}" >{{role_name}}</option>
                  {{/each}}

                    </select>
                    </div>

                    <div class="form-group">
                        <label>Reporting Manager*</label>
                        <select class="chosen-select form-control" data-val="true" id="reporting_manager" name="reporting_manager" style="width: 200px;"><option value="">Select Reporting Manager</option>
                             {{#each reporting_manager}}
                       <option value="{{name}}" >{{name}}</option>
                  {{/each}}

                        </select>
                    </div>


                     <div class="form-group">
       <label>Designation*</label>
       <input class="form-control" type="text" name="designation"/>
    </div>


<div class="form-group">
                        <label>Department*</label>
                        <select class="chosen-select form-control" data-val="true" data-val-number="The field reporting_manager must be a number." id="department" name="department" style="width: 200px;"><option value="">Select Department </option>
                             <option value="2">Engineering Work</option>
                             <option value="3">Engineering Bridge</option>
                             <option value="1">Engineering PWay</option>
                             <option value="7">S &amp; T</option>
                             <option value="8">TRO</option>
                             <option value="4">TRD</option>
                             <option value="5">OPTG-TI</option>
                             <option value="6">Safety-SC</option>
                             <option value="9">Commercial TTE</option>


                        </select>
                    </div>



                    <div class="form-group">
                        <label>Back Office*</label>
                        <select class="chosen-select form-control" data-val="true" data-val-number="The field back_office must be a number." id="back_office" name="back_office" style="width: 200px;"><option value="">Select Back Office</option>
                        <option value="234">Bridge: Br. No 448 DN</option>
                        <option value="233">Bridge: Br. No 448 UP</option>
                        <option value="236">Bridge: Br. No 494 DN</option>
                        <option value="235">Bridge: Br. No 494 UP</option>
                        <option value="126">LevelCrossing: 102SRJSWMA;</option>
                        <option value="127">LevelCrossing: 102SRJSWMA;</option>
                        <option value="112">LevelCrossing: 146CT-1;</option>
                        <option value="113">LevelCrossing: 146CT-1;</option>
                        <option value="114">LevelCrossing: 146CT-1;</option>
                        <option value="118">LevelCrossing: 148CE;</option>

                        </select>
                    </div>

                   <div class="form-group">
                        <label>Phone*</label>
                        <input class="form-control" type="text" name="phone" name="phone" maxlength="10" data-val-regex-pattern="^[0-9]{10}$"/>
                   </div>
                   <br>

                    <div class="form-group">
                        <input class="btn btn-primary form-control" type="submit" value="Sign Up"/>
                    </div>
                    </div>

</form>
</div>
</body>
</html>
