<html>
<head>
	<meta charset="utf-8">
	<meta content='width=device-width, initial-scale=1' name='viewport'/>

	<meta name="description" content="Truring softek">
	<meta hhtp-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="keywords" content="value through technology, softek, truring">
	<title>Think Embedded | welcome</title>
	<link rel="stylesheet" type="text/css" href="dist/zoomslider.css" />
	<script type="text/javascript" src="js/modernizr-2.6.2.min.js"></script>
	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500" rel="stylesheet">
	<link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap.no-icons.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
	<link href="https://fonts.googleapis.com/css?
	family=Quicksand:500" rel="stylesheet">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.js">
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>







<style>
  @import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300);
* {
  margin: 0;
  padding: 0; }

a {
  color: #666;
  text-decoration: none; }
  a:hover {
    color: #4FDA8C; }

input {
  font: 16px/26px "Raleway", sans-serif; }

body {
  color: #666;
  background-color: #fff;
  font: 16px/26px "Raleway", sans-serif; }

.form-wrap .login-form{
height:200px;
margin:auto;
margin-top:-15px;
margin-bottom:-180px;
margin-left:-22px;
width:103%;
margin-right:0px;
color:#00a2e8 ;
background-color: #00a2e8;
}


header{
  background:#fff;
  color:#151515;
  margin-left:-150px;
  padding-top:-0px;
  min-height:0px;
}
header #branding{
  float:left;
}

header #branding h1{
  margin:-150;
  float:left;
  position: absolute;
  margin-top:-60px;
  margin-left:10px;
 margin-right:-10px;
}



.form-wrap {
  background-color: #fff;
  width: 100%;
  top:0px;
  color:#00a2e8;
  height: 70px;
  margin: 100px auto;
  box-shadow: 0px 1px 1px #00a2e8;
  -webkit-box-shadow: 0px 1px 10px #00a2e8;
  -moz-box-shadow: 0px 1px 1px #00a2e8;
  }
.form-wrap .tabs {
    overflow: hidden;
	color:#007bff;
	}
.form-wrap .tabs h3 {
      float: left;
      width: 50%;
	  }
.form-wrap .tabs h3 a {
        padding: 0.5em;
        text-align: center;
        font-weight: 900;
		height:70px;
        background-color: #00a2e8 ;
        display: block;
        color: #fff;
		}
 .form-wrap .tabs h3 a.active {
	background-color: #fff;
	color:#007bff;
	}
  .form-wrap .tabs-content {
    padding: 1.5em;
	}
 .form-wrap .tabs-content div[id$="tab-content"] {
      display: none;
	  }
 .form-wrap .tabs-content .active {
      display: block !important;
	  }

 .form-wrap form .input {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: inherit;
    font-family: inherit;
    padding: .8em 0 10px .8em;
    border: 1px solid #CFCFCF;
    outline: 0;

	margin-top:0px;
	border-radius:0px;
    display: inline-block;
    margin: 20 30 .8em 40;
    padding-right: 2em;
    width: 40%;

	}
	.form-wrap form .input2 {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: inherit;
    font-family: inherit;
    padding: .8em 0 10px .8em;
    border: 1px solid #CFCFCF;
    outline: 0;
	margin-top:0px;
	border-radius:0px;
    display: inline-block;
    margin: 20 30 .8em 40;
    padding-right: 2em;
    width: 20%;

	}


	  .form-wrap form .input1 {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: inherit;
	height:40px;
    font-family: inherit;
    padding: .8em 0 10px .8em;
    border: 1px solid #CFCFCF;
    outline: 0;
	float:none;
	position:center;
	left:320px;
	position:relative;
	margin-top:10px;
	border-radius:0px;
    display: inline-block;
    margin: 20 30 .8em 40;
    padding-right: 2em;
    width: 50%; }
.form-wrap .button {
    width: 20%;
	margin-top:190px;
	margin-left:550px;
	margin-right:-550px;
    padding: .8em 0 10px .8em;
    background-color: #00a2e8;
    border: none;
	position:relative;
    color: white;
    cursor: pointer;
	border-radius:20px;
    text-transform: uppercase; }
    .form-wrap form .button:hover {
      background-color: #1e76d4; }
.form-wrap form .checkbox {
    visibility: hidden;
    padding: 20px;
    margin: .5em 0 1.5em; }    .form-wrap form .checkbox:checked + label:after {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      filter: alpha(opacity=100);
      opacity: 1;
	  }
.form-wrap form label[for] {
    position: relative;
    padding-left: 20px;
    cursor: pointer;
	}
.form-wrap form label[for]:before {
      content: '';
      position: absolute;
      border: 1px solid #CFCFCF;
      width: 17px;
      height: 17px;
      top: 0px;
      left: -14px;
	  }
.form-wrap form label[for]:after {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      opacity: 0;
      content: '';
      position: absolute;
      width: 9px;
      height: 5px;
      background-color: transparent;
      top: 4px;
      left: -10px;
      border: 3px solid #28A55F;
      border-top: none;
      border-right: none;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
	  }

	  form .login-form{
	  border-bottom-color:#007bff;
	  border-bottom:100px;
	  height:100px;
	  background-color: #007bff;
	  }
	  a .login-form{
	  background-color:#007bff;
	  }
	  .login-form p{
	  position:absolute;
	  top:50px;
	  left:-300px;
	  text-align:none;
	  }
.form-wrap a{
color:white;
text-decoration:none;
}

.form-wrap a:hover{
color:white;
text-decoration:none;
}



	   .form-wrap li{
	  color:black;
	  margin-left:500px;
	  font-size:20px;
	  position:relative;
	  font-weight:700;
	  padding:20px 20px 20px;
	  }
	  .form-wrap p{
	  color:#262626;
	  position:relative;
	  margin-top:-65px;
	  margin-left:650px;
	  font-size:20px;
	  font-weight:300;
	  padding:20px 20px 20px;
	  }


nav{

	float:right;
	top: -600;
	right:;
	left:0;
	float:right;
	width: 0%;
	height: 0px;
	padding: 75px 75px;
	box-sizing: border-box;
	transition: .3s;
	z-index:12;
}

	nav .logo{
	position:relative;
	top:-240px;
	left:-1400px;
	float:left;
	}

	 nav .button1{
	  color:black;
	 margin-top:-170px;
	 padding-right:20px;
	 border-radius: 0px;
	  background-color: black;
	  }




.container1 h2 {
color:black;
margin-bottom:-40px;
font-size:16px;
position:relative;
top:-55px;
width:50px;
background-color:;
padding-right:400px;
  }

.container1 {
	left:-0px;
	right:0px;
	height:40px;
  text-align: center;
  overflow: hidden;
  background-color:#00a2e8;
  width: 103%;
  margin-left:-22px;
  margin-bottom:-15px;
  margin-top:-15px;
  height:auto;
}

.container1 table{
  width:90%;
  margin-top:20px;
  margin-left:80px;
  height:100px;
  color:#151515;
}

.container1 th {
    padding:25px;
  color:#151515;
  height:40px;
  background-color:#fff;
  padding-left:100px;
  padding-right:100px;
  right:0px;
}

.container1 td {
  padding:15px;
  height:10px;
  color:#151515;
  background-color:#fff;
  padding-left:100px;
  padding-right:100px;
  right:0px;
}

.container1 td:first-child, .container1 th:first-child {
  color:#151515;
  padding-left: 90px;
  left:90px;
}

.container1 td:last-child, .container1 th:last-child {
  color:#151515;
  padding-right: 90px;
  right:110px;
}

.container1 th,td{
right:0px;
 background-color:#fff;
  border-bottom: 20px solid #00a2e8 ;
  position: relative;
}
.container1 a{
color:black;
}

.select-table-filter{
	color:#151515;
	margin:auto;
	position:relative;
	margin-top:10px;
	margin-left:200px;
	right:0px;
	width:80px;
	margin-bottom:0px;

}

.light-table-filter{
margin:auto;
position:relative;
margin-top:25px;
margin-bottom:-0px;
margin-left:-520px;

}

th.order-table{
background-color:#fff;
color:#fff;
}




</style>
</head>
<body>
<header>
<div class="container">
 <div id="branding">
<h1><a href="main.html"><img src="./think.jpg"></a></h1>
</div>
</header>
<script type="text/javascript">
(function(document) {
	'use strict';

	var LightTableFilter = (function(Arr) {

		var _input;
    var _select;

		function _onInputEvent(e) {
			_input = e.target;
			var tables = document.getElementsByClassName(_input.getAttribute('data-table'));
			Arr.forEach.call(tables, function(table) {
				Arr.forEach.call(table.tBodies, function(tbody) {
					Arr.forEach.call(tbody.rows, _filter);
				});
			});
		}

		function _onSelectEvent(e) {
			_select = e.target;
			var tables = document.getElementsByClassName(_select.getAttribute('data-table'));
			Arr.forEach.call(tables, function(table) {
				Arr.forEach.call(table.tBodies, function(tbody) {
					Arr.forEach.call(tbody.rows, _filterSelect);
				});
			});
		}

		function _filter(row) {

			var text = row.textContent.toLowerCase(), val = _input.value.toLowerCase();
			row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';

		}

		function _filterSelect(row) {

			var text_select = row.textContent.toLowerCase(), val_select = _select.options[_select.selectedIndex].value.toLowerCase();
			row.style.display = text_select.indexOf(val_select) === -1 ? 'none' : 'table-row';

		}

		return {
			init: function() {
				var inputs = document.getElementsByClassName('light-table-filter');
				var selects = document.getElementsByClassName('select-table-filter');
				Arr.forEach.call(inputs, function(input) {
					input.oninput = _onInputEvent;
				});
				Arr.forEach.call(selects, function(select) {
         select.onchange  = _onSelectEvent;
				});
			}
		};
	})(Array.prototype);

	document.addEventListener('readystatechange', function() {
		if (document.readyState === 'complete') {
			LightTableFilter.init();
		}
	});

})(document);
</script>

<script type="text/javascript">
   $('#next').click(function{

    $('#showsecond').show();

});
</script>






<div class="form-wrap">
<div class="menu-icon"><i style="position:relative;border-radius:1px;border-spacing:0px;margin-left:0px;height:34px;width:0px;background-color:#fff;float:right;color:#00a2e8;padding-right:-0px;right:50px;top:-80px;" class="fa fa-bars fa-2x"></i></div>
		<div class="tabs">
		<h3 class="login-tab"><a href="/dashboard">ADD NEW DEVICE</a></h3>
			<h3 class="signup-tab"><a class="active" href="/listdevices">LIST DEVICES</a></h3>

		</div><!--.tabs-->

		<div class="tabs-content">
			<div id="signup-tab-content" class="active">
	<section class="container1">

	<input type="search" class="light-table-filter" data-table="order-table" placeholder="Filter" />
	<select type="search" class="select-table-filter" data-table="order-table">
    <option value="imei">IMEI</option>
    <option value="Device id">Device Id</option>
    <option value="serial number">Serial number</option>
  </select>
	<table class="order-table">
		<thead>
			<tr>
				<th><img src="./car.png"></th>
				<th><a href="register1.html">Device Id</a></th>
				<th>IMEI</th>
				<th>SERIAL Number</th>
			</tr>
		</thead>
		<tbody>
			{{#each devices}}
			<tr>
				<td><img src="./car.png"></td>
				<td><a href="/deviceinfo?device_id={{sr_no}}">< DEVICE ID></a></td>
				<td>{{imei_no}}</td>
				<td>{{sr_no}}</td>
			</tr>
			{{/each}}
			<tr>
				<td><img src="./car.png"></td>
				<td><a href="register1.html">< DEVICE ID ></a></td>
				<td>IMEI</td>
				<td>SERIAL Number</td>
			</tr>
			<tr>
				<td><img src="./car.png"></td>
				<td><a href="register1.html">< DEVICE ID ></a></td>
				<td>IMEI</td>
				<td>SERIAL Number</td>
			</tr>
			<tr>
				<td><img src="./car.png"></td>
				<td><a href="register1.html">< DEVICE ID ></a></td>
				<td>IMEI</td>
				<td>SERIAL Number</td>
			</tr>
			<tr>
				<td><img src="./car.png"></td>
				<td><a href="register1.html">< DEVICE ID ></a></td>
				<td>IMEI</td>
				<td>SERIAL Number</td>
			</tr>
		</tbody>
	</table>

</section>


			</div><!--.signup-tab-content-->

			<div id="login-tab-content" >
				<form class="login-form" action="" method="post">
				<a><input type="text" class="input1" id="user_login" autocomplete="off" placeholder="Serial number..."></a>

				<a><input type="1234567890" class="input1" id="user_pass" autocomplete="off" placeholder="IMEI number..."></a>
				<p class="error" id="error">Invalid registration</p>
				</form><!--.login-form-->
					<button class="button"><a href="#" id="next">Add device</a></button>
					<ul>
					<li class="myText" id="showsecond">Device hash</li><p>AGWEN12D</p>
					<li class="myText" id="showsecond">Default</li><p>1.2.3.4/< devicehash>/< default topic</p>
					<li class="myText" id="showsecond">Device Config</li><p><a href="#">< my config>.json</a></p>
				</ul>
			</div><!--.login-tab-content-->
		</div><!--.tabs-content-->
	</div><!--.form-wrap-->

</body>
</head>
</html>
