<html>
<head>
<meta charset="utf-8">
	<meta content='width=device-width, initial-scale=1' name='viewport'/>

	<meta name="description" content="Truring softek">
	<meta hhtp-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="keywords" content="value through technology, softek, truring">
	<title>Truring softek | welcome</title>
	<link rel="stylesheet" type="text/css" href="dist/zoomslider.css" />
	<script type="text/javascript" src="js/modernizr-2.6.2.min.js"></script>
	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500" rel="stylesheet">

	<link rel="stylesheet" href="css/style.css">
	<link href="https://fonts.googleapis.com/css?
	family=Quicksand:500" rel="stylesheet">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.js">
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>



	<style>
	body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
  padding:0;
  margin:0;
  background-color:#fff;
}
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

header{
  background:#fff;
  color:#151515;
  margin-left:-170px;
  padding-top:0px;
  min-height:0px;
}
header #branding{
  float:left;
}

header #branding h1{
  margin:-50;
  left:-0px;
  margin-left:-0px;
 margin-right:0px;
}

#boxes{
  margin-top:0px;
}

#boxes .box{
position:relative;
  float:left;
 height:84%;
 margin-left:-100px;
 top:0px;
 margin:auto;
 color:#fff;
  background-color: #00a2e8;
  padding:auto;
  width:50%;
  padding:50px;
}
#boxes .box h1,h2,h3 {
padding-top:10px;
font-size:30px;
margin-right:100px;
margin-top:70px;
text-align:center;
margin-left:0px;
}

#boxes .box h1 i{
margin-top:0px;
margin-right:50px;
}

#boxes .box h2 i{
margin-right:50px;
}

#boxes .box h3 i{
margin-right:50px;
}

#boxes .box p {
text-align:center;
}


#boxes .box1{
  float:left;
  margin-top:160px;
  text-align: center;
  width:50%;
  padding:0px;
}

.button_1 a{
color: white;
}



#boxes .box1 button {
  position: relative;
  background: #00a2e8;
  height: 40px;
  font-size: 11px;
  width: 150px;
  border: 0px;
  border-radius: 40px;
  top: 40px;
  color: white;
  cursor: pointer;
}

#boxes .box1 h3 {
font-size:40px;
margin-left:100px;
text-align:center;
}


footer p{
		margin-top: 85px;
  padding-left:200px;
  padding-bottom: 0px;
  padding-top:170px;
  color:#262626;
  float:left;
  font-size:23px;
  background-color:#fff;
  text-align: bottom;
}

footer button {
	margin-top: 85px;
  position: relative;
  background:#00a2e8;
  height: 35px;
  left:-170px;
  right:5px;
  float:right;
  font-size: 11px;
  width: 140px;
  border: 0px;
  border-radius: 40px;
  top:170px;
  color: white;
  cursor: pointer;
}
footer button a{
color: white;
}

footer button a:Hover{
color: white;
}



	</style>







</head>
<body>
<header>
<div class="container">
 <div id="branding">
<h1><a href="main.html"><img src="./think.jpg"></a></h1>
</div>
</header>
<section id="boxes">
        <div class="box">
          <h1><i class="fa fa-lock fa-2x"></i>Lorem ipsum dolor sit amet.</h1>
          <h2><i class="fa fa-eye fa-2x"></i>Lorem ipsum dolor sit amet.</h2>
		  <h3><i class="fa fa-exclamation-triangle fa-2x"></i>Lorem ipsum dolor sit amet.</h3>
        </div>
        <div class="box1">
          <h3>Login now to get started!</h3>
          <p></p>
	    <button type="button" class="button_1" onclick="location.href='/login'">LogIn</button>
        </div>
<footer>
<p>Don't have an account</p>
   <button type="submit" class="button_1"><a href="signup.html">SIGN UP</a></button>
</footer>
</body>
</html>
