<html>
<head>
	<meta charset="utf-8">
	<meta content='width=device-width, initial-scale=1' name='viewport'/>

	<meta name="description" content="Truring softek">
	<meta hhtp-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="keywords" content="value through technology, softek, truring">
	<title>Truring softek | welcome</title>
	<link rel="stylesheet" type="text/css" href="dist/zoomslider.css" />
	<script type="text/javascript" src="js/modernizr-2.6.2.min.js"></script>
	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link href="https://fonts.googleapis.com/css?family=Alegreya+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500" rel="stylesheet">
	<link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap.no-icons.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
	<link href="https://fonts.googleapis.com/css?
	family=Quicksand:500" rel="stylesheet">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.js">
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>







<style>
  @import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300);
* {
  margin: 0;
  padding: 0; }

a {
  color: #666;
  text-decoration: none; }
  a:hover {
    color: #4FDA8C; }

input {
  font: 16px/26px "Raleway", sans-serif; }

body {
  color: #666;
  background-color: #fff;
  font: 16px/26px "Raleway", sans-serif; }

.form-wrap .login-form{
height:100px;
margin:auto;
margin-top:-15px;
margin-bottom:-180px;
margin-left:-22px;
width:103%;
margin-right:0px;
color:#00a2e8 ;
background-color: #00a2e8;
}


header{
  background:#fff;
  color:#151515;
  margin-left:-150px;
  padding-top:-0px;
  min-height:0px;
}
header #branding{
  float:left;
}

header #branding h1{
  margin:-150;
  margin-top:-50px;
  margin-left:-100px;
 margin-right:0px;
}



.form-wrap {
  background-color: #00a2e8;
  width: 100%;
  top:0px;
  color:#00a2e8;
  height: 100px;
  margin: 100px auto;
  box-shadow: 0px 1px 1px #00a2e8;
  -webkit-box-shadow: 0px 1px 10px #00a2e8;
  -moz-box-shadow: 0px 1px 1px #00a2e8;
  }
.form-wrap .tabs {
    height:100px;
	overflow: hidden;
	color:#007bff;
	}
.form-wrap .tabs h3 {
      float: left;
      width: 50%;
	  }
.form-wrap .tabs h3 a {
        padding: 0.5em;
        text-align: center;
        font-weight: 900;
		height:100px;
        background-color: #00a2e8 ;
        display: block;
        color: #fff;
		}
 .form-wrap .tabs h3 a.active {
	background-color: #fff;
	color:#007bff;

	}
  .form-wrap .tabs-content {
    padding: 1.5em;
	}
 .form-wrap .tabs-content div[id$="tab-content"] {
      display: none;
	  }
 .form-wrap .tabs-content .active {
      display: block !important;
	  }

 .form-wrap form .input {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: inherit;
    font-family: inherit;
    padding: .8em 0 10px .8em;
    border: 1px solid #CFCFCF;
    outline: 0;
	margin-top:0px;
	border-radius:0px;
    display: inline-block;
    margin: 20 30 .8em 40;
    padding-right: 2em;
    width: 40%;

	}
	.form-wrap form .input2 {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: inherit;
    font-family: inherit;
    padding: .8em 0 10px .8em;
    border: 1px solid #CFCFCF;
    outline: 0;
	margin-top:0px;
	border-radius:0px;
    display: inline-block;
    margin: 20 30 .8em 40;
    padding-right: 2em;
    width: 20%;

	}


	  .form-wrap form .input1 {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    color: inherit;
	height:40px;
    font-family: inherit;
    padding: .8em 0 10px .8em;
    border: 1px solid #CFCFCF;
    outline: 0;
	float:none;
	flex:center;
	left:240px;
	position:relative;
	margin-top:90px;
	border-radius:0px;
    display: inline-block;
    margin: 20 30 .8em 40;
    padding-right: 2em;
    width: 30%; }
.form-wrap .button {
    width: 30%;
	margin-top:210px;
	margin-left: 500px;
    padding: .8em 0 10px .8em;
    background-color: #00a2e8;
    border: none;
    color: #fff;
    cursor: pointer;
	border-radius:0px;
    text-transform: uppercase; }
    .form-wrap form .button:hover {
      background-color: #1e76d4; }
.form-wrap form .checkbox {
    visibility: hidden;
    padding: 20px;
    margin: .5em 0 1.5em; }    .form-wrap form .checkbox:checked + label:after {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
      filter: alpha(opacity=100);
      opacity: 1;
	  }
.form-wrap form label[for] {
    position: relative;
    padding-left: 20px;
    cursor: pointer;
	}
.form-wrap form label[for]:before {
      content: '';
      position: absolute;
      border: 1px solid #CFCFCF;
      width: 17px;
      height: 17px;
      top: 0px;
      left: -14px;
	  }
.form-wrap form label[for]:after {
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      opacity: 0;
      content: '';
      position: absolute;
      width: 9px;
      height: 5px;
      background-color: transparent;
      top: 4px;
      left: -10px;
      border: 3px solid #28A55F;
      border-top: none;
      border-right: none;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
	  }

	  .form-wrap .tabs-content ul{
	  color:#fff;
	  padding:auto;
	  margin:auto;
	  width:1530px;
	  height:400px;
	  background-color:#fff;
	  position:relative;
	  left:-20px;
	  top:180px;
	  }
	  .form-wrap li{
	  color:black;
	  margin-left:450px;
	  font-size:20px;
	  font-weight:700;
	  padding:20px 20px 20px;
	  }
	  .form-wrap p{
	  color: #262626;
	  margin-top:-65px;
	  margin-left:750px;
	  font-size:20px;
	  font-weight:300;
	  padding:20px 20px 20px;
	  }





	  form login-form{
	  border-bottom-color:#007bff;
	  border-bottom:100px;
	  height:10px;
	  background-color: #007bff;
	  }
	  a.login-form{
	  background-color:#007bff;
	  }




nav{

	float:right;
	top: -600;
	right:;
	left:0;
	float:right;
	width: 0%;
	height: 0px;
	padding: 75px 75px;
	box-sizing: border-box;
	transition: .3s;
	z-index:12;
}

	nav .logo{
	position:relative;
	top:-240px;
	left:-1400px;
	float:left;
	}

	 nav .button1{
	  color:black;
	 margin-top:-170px;
	 padding-right:20px;
	 border-radius: 0px;
	  background-color: black;
	  }




h2 {
  margin-bottom: 0px;
}

.container1 {
	left:-0px;
	right:0px;
  text-align: center;
  overflow: hidden;
  background-color:#00a2e8;
  width: 103%;
  margin-left:-22px;
  margin-bottom:-15px;
  margin-top:-15px;
  height:650px;
}

.container1 table{
  width:90%;
  margin-top:20px;
  margin-left:70px;
  color:#151515;
}

.container1 th {
    padding:25px;
  color:#151515;
  background-color:#fff;
  padding-left:100px;
  padding-right:100px;
  right:0px;
}

.container1 td {
  padding:15px;
  color:#151515;
  background-color:#fff;
  padding-left:100px;
  padding-right:100px;
  right:0px;
}

.container1 td:first-child, .container1 th:first-child {
  color:#151515;
  padding-left: 100px;
  left:80px;
}

.container1 td:last-child, .container1 th:last-child {
  color:#151515;
  padding-right: 100px;
  right:100px;
}

.container1 th,td{
right:0px;
 background-color:#fff;
  border-bottom: 15px solid #00a2e8 ;
  position: relative;
}

.select-table-filter{
	color:#151515;
	margin:auto;
	margin-top:30px;
	margin-left:100px;
	right:0px;
	margin-bottom:10px;

}

.light-table-filter{
margin:auto;
margin-top:25px;
margin-bottom:-100px;
margin-left:-100px;

}

th.order-table{
background-color:#fff;
color:#fff;
}



</style>
</head>
<body>
<header>
<div class="container">
 <div id="branding">
<h1><a href="main.html"><img src="./think.jpg"></a></h1>
</div>
</header>
<script type="text/javascript">
jQuery(document).ready(function($) {
	tab = $('.tabs h3 a');

	tab.on('click', function(event) {
		event.preventDefault();
		tab.removeClass('active');
		$(this).addClass('active');

		tab_content = $(this).attr('href');
		$('div[id$="tab-content"]').removeClass('active');
		$(tab_content).addClass('active');
	});
});
</script>






<div class="form-wrap">
<div class="menu-icon"><i style="position:relative;border-radius:1px;border-spacing:0px;margin-left:0px;height:34px;width:0px;background-color:#fff;float:right;color:#00a2e8;padding-right:-0px;right:50px;top:-80px;" class="fa fa-bars fa-2x"></i></div>
		<div class="tabs-content">
				<form class="login-form" action="" method="post">
					<input type="text" class="input1" id="user_login" autocomplete="off" placeholder={{device_info.sr_no}}>
					<input type="1234567890" class="input1" id="user_pass" autocomplete="off" placeholder={{device_info.imei_no}}>
				</form><!--.login-form-->
				<ul>
					<li class="myText">Device hash</li><p>{{device_info.device_id}}</p>
					<li class="myText">Default topic1</li><p>{{device_info.para_pub}}</p>
					<li class="myText">Default topic2</li><p>{{device_info.can_pub}}</p>
					<li class="myText">Default topic3</li><p>{{device_info.lastwill_pub}}</p>
					<li class="myText">Private key</li><p>< my key>.crt</p>
					<li class="myText">Device Config</li><p>< my config>.json</p>
				</ul>
			</div><!--.login-tab-content-->
		</div><!--.tabs-content-->
	</div><!--.form-wrap-->

</body>
</head>
</html>
