<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <style>

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 16px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 10px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}

</style>
</head>

<body>
    <header>
        <div class="container-fluid">
            <img src="./images/think.jpg">
            <span style="color:black;float:right; vertical-align:middle ;"><a href="/logout" style="text-decoration:none;">LogOut</a></span>
             <span style="color:black;float:right; vertical-align:middle;margin-right:30px;"><i class="fa fa-home" style="font-size:12px;color:#00A2E8"></i>
                <a href="/listdevices">Home</a>
            </span>
        </div>
    </header>
    <script type="text/javascript">
        function myFunction() {
            console.log("hello")
            var input, filter, table, tr, td, i, select;
            select = document.getElementById("select");
            var strUser = select.options[select.selectedIndex].value;
            console.log(strUser);
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[strUser];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
    <div class="row">


        {{!-- <div class="col-sm-6" style="background-`:#00a2e8;">
            <a href="/listdevices" style="color:#fff;">History Logs</a>
        </div> --}}
        <div class="col1-sm-6" style="background-color:#00a2e8;;">
            <a href="/dashboard" style="color:#fff;">History Logs</a>
        </div>
    </div>
    <div class="row" style="background-color:#00a2e8;">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10" id="brand">
            <div class="row" id="filter" align="left" style="background-color:#00a2e8;">
                <input type="text" class="input2" style="width:25%;" id="myInput" onkeyup="myFunction()" placeholder="Filter" />

                <span style="padding:10px;font-size:18px; color:#ffff;">Filter Criteria</span>
                <select id="select">
                    <option value="1">Username</option>
                </select>
            </div>
            <div class="row" id="table-order" style="background-color:#00a2e8;">
                <table id="myTable" class="order-table" align="center">
                    <thead>
                        <tr>
                            <th>Date / Time</th>
                            <th>Username</th>
                            <th>Logs</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each device_info}}
                        <tr>
                            <td><img src="./images/car.png"></td>
                            <td><a href="/deviceinfo?sr_no={{sr_no}}">{{sr_no}}</a></td>
                            <td>{{sr_no}}</td>
                        </tr>
                        {{/each}}
                    </tbody>

                </table>
            </div>
        </div>
        <div class="col-sm-1">
        </div>
    </div>
    <div>
    </div>

</body>

</html>