.rcw-message > .rcw-response {
  background-color: #e0e0e0;
  color: black;
  border-radius: 6px;
  padding: 6px;
  max-width: 70%;
  text-align: left;
}

button {
  margin-top: 100px;
  color: white;
  font-size: 0px; 
  border-radius: 5px;
  border-color: #ff9800;
  background-color: #9e9e9e;
}

.rcw-conversation-container {
  /*ansari*/
  /* -webkit-animation-delay: 0; */
  /* -webkit-animation-duration: .5s; */
  /* -webkit-animation-name: c; */
  /* -webkit-animation-fill-mode: forwards; */
  /* -moz-animation-delay: 0;
  -moz-animation-duration: .5s;
  -moz-animation-name: c;
  -moz-animation-fill-mode: forwards;
  animation-delay: 0; */
  /* animation-duration: .5s; */
  /* animation-name: c; */
  /* animation-fill-mode: forwards; */
  /* border-radius: 10px; */
  box-shadow: 0 0px 0px 0px #b5b5b5;
}
/* 
.rcw-widget-container {
  bottom: -10px;
  display: flex;
  flex-direction: column;
  margin: 0 20px 10px 0;
  max-width: 260px;
  position: fixed;
  right: 0;
  z-index: 1;
} */

.rcw-widget-container {
  /* bottom: 0px; */
  display: flex;
  flex-direction: column;
  margin: 0 20px 0px 0;
  max-width: 260px;
  position: fixed;
  right: 10px;
  z-index: 1;
  /* margin-top: 100px; */
  /* top: 1px; */
}

.rcw-conversation-container > .rcw-header {
  background-color: #2E2C39;
  border-radius: 10px 10px 0 0;
  color: black;
  display: flex;
  flex-direction: column;
  text-align: center;
  /* padding: 15px 0 25px; */
  height: 12px;
}

.rcw-conversation-container .rcw-title {
    font-size: 15px;
    margin-top: -5px;
    padding: 0px 0; 
    color: white;
}

.rcw-messages-container {
  background-color: #fff;
  height: 50vh;
  max-height: 230px;
  overflow-y: scroll;
  padding-top: 10px;
}

.rcw-client {
  border-radius: 6px;
  padding: 6px;
  max-width: 70%;
  text-align: left;
  background-color: #90caf9;
  color: black;
  font-size: 13px;
}

.rcw-message-text p {
  margin: 0;
  word-break: break-word;
  font-size: 13px;
}

.rcw-launcher {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: .5s;
  -webkit-animation-name: c;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-delay: 0;
  -moz-animation-duration: .5s;
  -moz-animation-name: c;
  -moz-animation-fill-mode: forwards;
  animation-delay: 0;
  animation-duration: .5s;
  animation-name: c;
  animation-fill-mode: forwards;
  align-self: flex-end;
  /* background-color: #9fa8da; */
  border: 0px solid #ff9800;
  /* border: 0; */
  border-radius: 50%;
  box-shadow: 0 0px 0px 0px #b5b5b5;
  height: 50px;
  margin-top: 10px;
  width: 50px;
}

element.style {
  height: 30px;
  /* border: 1px solid red; */
  /* border-radius: 0px; */
  margin-top: -42px;
}

.rcw-launcher {
  -webkit-animation-delay: 0;
  -webkit-animation-duration: .5s;
  -webkit-animation-name: c;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-delay: 0;
  -moz-animation-duration: .5s;
  -moz-animation-name: c;
  -moz-animation-fill-mode: forwards;
  animation-delay: 0;
  animation-duration: .5s;
  animation-name: c;
  animation-fill-mode: forwards;
  align-self: flex-end;
  background-color: transparent;
  /* border: 0; */
  border-radius: 1px;
  /* height: 30px;
  margin-top: -42px; */
  /* border-radius: 50%; */
  /* box-shadow: 0 2px 10px 1px #b5b5b5; */
  /* height: 60px;
  margin-top: 10px;
  width: 60px; */
}

.rcw-new-message {
  width: 100%;
  border: 0;
  background-color: #2E2C39;
  height: 40px;
  padding-left: 15px;
  font-size: 14px;
  color: #ff9800;
  border-radius: 10px;
}

.rcw-send {
  background: #2E2C39;
  border: 0;
  border-radius: 5px;
  height: 110%;
  margin: 2px;
}

@media screen and (max-width: 800px){
.rcw-hide-sm {
    /* display: none; */
}
}

@media screen and (max-width: 800px){

.rcw-conversation-container {
   
    /* height: 100%; */
    margin-top: 120px;
}}

@media screen and (max-width: 800px){
.rcw-conversation-container .rcw-close-button {
    background-color: transparent;
    top: 10px;
    margin-top: 0px;
}}

@media screen and (max-width: 800px){
.rcw-launcher {
    margin: 0px;
    right: 70px;
}}