.updatedevice{
    background-color: #232228;
    font-size: 16px;
    color: #ff9800;
   
    text-align: center;
}

.totaldevice{
    color: #676A86 ;
    font-size: 14px;
    text-align: left;
    margin-top: 2px;
}

.dropdownonhover{
    background-color: transparent;
}

.dropdownonhover:hover{
    background-color: #ff9800;
}