.maincontainer{
    font-size:15px;
    background-color:#232228;
    margin: 2px;
    color: #ff9800;
    text-align: center;
}

.dropdown{
    margin-top: 8px;
    color:#ea80fc;
    border-radius:4px;
    width:80%;
    height:60%;
    background: #232228;
    border-color: transparent; 
}

.dropdown:hover{
    border-color: #ea80fc;
}

.ecudropdown{
    margin: 8px;
    color:#ff9800;
    background: #232228;
    border-color: #ff9800; 
    width: 49%;
    height: 30px;
}

.subunitdropdown{
    margin: 8px;
    color:#ff9800;
    background: #232228;
    border-color: #ff9800; 
    width: 40%;
    height: 30px;
}

.borderrightBottom{
    border-right:1px solid #616161;
    margin: auto;
    text-align: center;
}


@media screen and (max-width: 575px) {
    .borderrightBottom {
        border-right: none;
    }
}

.borderright{
    border-right:1px solid #616161;
    margin: auto;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .borderright {
        border-right: none;
    }
}

.verticalLine{
    border-right:1px solid #616161;
    height: 20px;
}
.coltextcolor{
    color: #ea80fc;
    margin-top: 5px;
}

.imgstyle{
    margin-top: 6px;
}

/* .imgstyle:hover{
    background: #4fb1ea;
} */

.closebuttondiv{
    border-top:1px solid #616161;
    text-align:center;
    margin-top: 10px;
    color: #ff9800;
}

i.fa-bell {
    position: relative;
    font-size: 20px;
    color: #ff9800;
    cursor: pointer;
    border-color:#232228;
    margin-top: 5px;
  }
  span.fa-comment {
    position: absolute;
    font-size: 100%;
    top: -16px;
    color:red;
    right: -17px;
    background: transparent;
  }
  span.num {
    text-align: center;
    position: absolute;
    font-size: 10px;
    top: -12px;
    color: white;
    right: -14px;
  }

  .devicemanagementhover:hover{
      color: white;
  }
  