#header {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.mainrowcontainer{
    font-size: 15px;
    border-top: 3px solid #ff9800;
    color: white;
}


.mainsecondcol{
    border-top: 2px solid #ea80fc;
    border-left: 2px solid #ea80fc;
}

@media screen and (max-width: 768px) {
    .mainsecondcol {
        border-right: 2px solid #ea80fc;
    }
}

.firstrow{
    border-top: 10px solid #2E2C39;
    border-bottom: 5px solid #2E2C39;
}

.firstrowfirstcol{
    border-right: 5px solid #2E2C39;
    border-left: 10px solid #2E2C39;
}

.firstrowsecondcol{
    border-left: 5px solid #2E2C39;
    border-right: 10px solid #2E2C39;
}

.secondrow{
    border-bottom: 5px solid #2E2C39;
    border-top: 5px solid #2E2C39;
    text-align: center;
    
}

.secondrowsecondcol{
    border-left: 5px solid #2E2C39;
    border-right: 5px solid #2E2C39;
}

.devicelist{
    border-right: 2px solid #ff9800;
    border-top: 2px solid #ea80fc;
}

@media screen and (max-width: 768px) {
    .devicelist {
        border-left: 2px solid #ff9800;
    }
}

.homeh{
    color:#ea80fc;
    text-align: left;
}

.homeh1{
    color: white;
    text-align: left;
}

.fueltype{
    color:#ea80fc;
}

.fueltypeD{
    color: white;  
}

.startstoplog{
    color: white;
    margin-top: 10px;
    text-align: center;
    margin: auto;
    font-size: 12px;
}

.buttonHome{
    size: 14px;
    height: 45%;
    margin: auto;
}

.speedgaugerow{
    text-align: center;
    margin-top: 7px;
}

.speedgaugecol{
    text-align: center;
    margin-top: 10px;
}

.topheadingmargin{
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ea80fc;
}

.bottomheadingmargin{
    margin-top: 10px;
    margin-bottom: 10px;
}

.thirdrow{
    border-bottom: 10px solid #2E2C39;
    border-left: 10px solid #2E2C39;
    border-right:  10px solid #2E2C39;
    border-top: 5px solid #2E2C39;
    margin-bottom: 48px;
}

@media screen and (max-width: 768px) {
    .thirdrow {
        margin-bottom: 110px;
    }
}

/* .fourthrow{
    background-color: #494C6B;
    text-align: center;
    bottom: 35px;
    position: absolute;
    width: 100%;
} */

.fourthrow {
    background-color: #494C6B;
    text-align: center;
    bottom: 0px;
    position: fixed;
    width: 84%;
    font-size: 15px;
}

@media screen and (max-width: 768px) {
    .fourthrow{
        width: 100%;
    }
}

@media screen and (max-width: 1125px) {
    .fourthrow{
        font-size: 100%;
    }
}

#footer {
    position:absolute;
    bottom:0;
    width:100%;
    background-color: #494C6B;
 }


.borderstyling{
    margin-top: 6px;
    text-align: center;
}

.dashboardT{
    text-align: center;
    margin-top:10px;
    margin-bottom:10px;
}

@media screen and (max-width: 1000px) {
    .dashboardT {
        margin-bottom: 200px;
    }
}

.image_icon{
    height: 16px;
    width: 16px;
    background-color: transparent;
    color: #ff9800;
}

input{
    color:#ff9800;
    height:30px;
    border-color:transparent;
    border-bottom:2px solid #ff9800;
    background-color:transparent;
}