.devicemanagement{
    background-color: #232228;
    font-size: 14px;
    color: #ea80fc;
    border: 2px solid #616161;

}

.modeldiv{
    text-align: center;
    font-size: 16px;
    border-bottom: 1px solid #616161;
    margin: auto;
}

.modelrow{
    text-align: center;
    margin: auto;
    margin-top: 16px;
}

.updatedevice{
    background-color: #464357;
    font-size: 15px;
    color: #ea80fc;
    border: 2px solid #616161;
}

.modeldivupdatedevice{
    text-align: center;
    font-size: 15px;
    margin: auto;
    color: #ff9800;

}

.bulkandspecifi{
    text-align: center;
    font-size: 16px;
}

.dropezone{
    text-align: center;
    position: relative;
    width: 250px;
    height: 100px;
    border-width: 1px;
    border-style: dashed;
    border-radius: 5px;
    margin: auto;
    margin-top: 45px;
    background-color: 	#4C4D62;
    font-size: 15px;
    
}

Input::-webkit-input-placeholder {
    color: #ff9800  !important;
    }

.onandfilter{
    color: #676A86 ;
    font-size: 15px;
    margin-right: 20px;

}

.jumbotron{
    margin-top: 20px;
    border-radius: 200px;
    height: 20px;
    font-size: 16px;
}

.rowdeviceStatus{
    text-align: left;
    color: black;
    word-wrap: break-word;
    /* display: inline-block; */
    font-size: 14;
}

.rowdeviceStatusdata{
    text-align: left;
    word-wrap: break-word;
    /* display: inline-block; */
    font-size: 14;
}

.divstyledevicestatus{
    background-color: #676A86;
    border-radius:10px;
    color: white;
    font-size:14px;
    height:60px;
    margin-bottom: 5px;
    text-align: center;
    width: 97%;
    margin-top: 10px;
}

.divstyledeviceliststatus{
    background-color: #676A86;
    border-radius:10px;
    color: white;
    font-size:14px;
    height:60px;
    margin-bottom: 5px;
    text-align: center;
    width: 97%;
    margin-top: 10px;
    margin-left: 20px;
}

.colstyledevicestatus{
    word-wrap: break-word;
    display: inline-block;
    color: white;
}

.thumb-vertical {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: inherit;
    background-color: #ff9800;
 }
 
 .track-vertical {
    position: absolute;
    width: 6px;
    display: block!important;
    right: 2px;
    bottom: 2px;
    top: 2px;
    border-radius: 3px;
 }

 .checkwidth{
     width: 98%;
 }

 @media screen and (max-width: 991px) {
    .checkwidth{
        width: 710px;
    }
}

.onsmalldevice{
    font-size: 15px;
}

@media screen and (max-width: 991px) {
    .onsmalldevice{
        font-size: 15px;
        margin-top: 10px;
    }
}