.logindesign{
    background-color:  orange;
    /* margin: 100px; */
    text-align: center;
    height: 100%;
    font-size: 14px;
}

.l-loginModalDiv{
    margin-top:30px;
    text-align: center;
    color: #9e9e9e;
}

input{
    color:#ff9800;
    height:30px;
    border-color:transparent;
    border-bottom:2px solid #ff9800;
    background-color:transparent;
    font-size: 15px;
}

button{
    margin-top:100px;
    color:white;
    font-size:150px;
    border-radius:5px;
    border-color:#ff9800;
    background-color: #9e9e9e;
}

.underlineonhover:hover{
    color: red;
}