<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css"/>
	<link rel="stylesheet" href="css/style.css">
  </head>
<body>
	<header>
		<div class="container-fluid">
      <img src="./images/think.jpg">

		</div>
	</header>
  <script text/javascript>
  function sub(){
    $("#sub").submit();
  }

  function fun(){
    alert("hello");
  }
  </script>
		<div class="row">
			<div class="col-sm-6" style="height:100%;background-color:#00a2e8;">
			<div class="row">
					<div class="col-sm-12" align="center" style="background-color:#00a2e8;margin-top:150px;">
					 <p><i class="fa fa-lock fa-1x"></i><span> </span>Lorem ipsum dolor sit amet.</p></br>
					 <p><i class="fa fa-eye fa-1x"></i><span> </span>Lorem ipsum dolor sit amet.</p></br>
					 <p><i class="fa fa-exclamation-triangle fa-1x"></i><span> </span>Lorem ipsum dolor sit amet.</p>
					</div>
					</div>
			</div>
			<div class="col-sm-6" style="background-color:#fff;">
					<div class="row">
					<div class="col-sm-2" style="background-color:#fff;height:100%;">
					</div>
					<div class="col-sm-9" align="center" style="background-color:#fff;margin-top:100px;">
					<p style="color:#00a2e8;">Admin Sign In</p>
					<form class="login_form" action"/login" method="post" id="sub">
					<p><input type="email" class="input2" name="username" placeholder="Email address" size="35" style="color:#151515;" /></p>
					<p><input type="password" class="input2" name="password" placeholder="Password" size="35" style="color:#151515;"  /></p>

          {{#if error}}
          <div class="alert alert-danger" style="height:auto; padding:5px; font-size:15px;">
              <p id="p1"><strong>Error!</strong>"{{error}}"</p>
          </div>
          {{/if}}

          <button class="button" form="go" type="submit" onClick="sub()">Sign in</button>
					</form>
          <div align="right" style="color:#fff; margin-top:5%">
                    <span style="color:black; font-size:15px;">Don't have an account...&nbsp;</span><a href="/signup" style="color:#fff"><button class="button" >SignUp</button></a>
                  </div>
					</div>
					<div class="col-sm-1" align="right" style="background-color:#fff;height:100%;">

					</div>
				</div>
			</div>
			</div>
</body>
</html>
