<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="css/style.css">
  </head>
<body>
  <header>
    <script type/javascript>
 window.onload =  display_error;
 function display_error(){
   {{#if error}}
     var er = document.createTextNode( {{error}}),
     p1 = document.getElementById('p1');
     p1.appendChild(er);
   {{/if}}
 }
 function sub(){
   if($("#sr_no").val().length==$("#imei_no").val().length&&$("#sr_no").val().length==15){
    $('#go').submit();
  }
  else{
    $("#msg").html("Please enter Valid Serial/IMEI No.")
  }
  }
  </script>

  <div class="container-fluid">
    <img src="./images/think.jpg">
    <span style="color:black;float:right; vertical-align:middle ;"><a href="/listdevices" style="text-decoration:none;">Home</a>&nbsp;<font color="#00a2e8">|</font>&nbsp;<a href="/logout" style="text-decoration:none;">LogOut</a></span>
  </div>
</header>
		<div class="row">
				<div class="col-sm-6" style="background-color:#fff;">
				<a href="/listdevices" style="color:#00a2e8;">LIST DEVICES</a>
				</div>
				<div class="col1-sm-6" style="background-color:#00a2e8;">
				<a href="/dashboard" style="color:white;">ADD NEW DEVICE</a>
				</div>
		</div>
		<div class="row" align="center">

			<div class="form" align="center">
				<div id="login-tab-content" class="active">
					<form id="go" class=" cqw" action="/factory_add" method="post">
						<input style="border-radius:5px" type="text" class="input" id="sr_no" name="sr_no" autocomplete="off" placeholder="Serial number..."></br></br>
						<input style="border-radius:5px" type="text" class="input" id="imei_no" name="imei_no" autocomplete="off" placeholder="IMEI number...">
						</br>
          </br>
          <p id="msg"></p>
            {{#if error}}
          <div class="alert alert-danger">
              <p id="p1"><strong>Error!</strong>{{error}}</p>
          </div>
          {{/if}}
					</form><!--.login-form-->
				</div>
			</div>
		<button class="button" onClick="sub()">ADD DEVICE</button>
		</div>
  <div class="row">
		<div class="col-sm-3" style="background-color:#fff;">
		</div>
    {{#if device_info}}
    {{# each device_info}}
				<div class="col-sm-3" align="center" style="color:#262626;background-color:#fff;margin:10px;padding:20px;">
				<p>Serial No.</p>
				<p>Pub Topic</p>
        <p>Sub Topic</p>
        <p>Can Topic</p>
        <p>Param Topic</p>
				</div>
				<div class="col-sm-3" align="left" style="background-color:#fff;color:#262626;margin:10px;padding:20px;">
				<p>{{sr_no}}</p>
				<p>{{default_pub}}</p>
				<p>{{default_sub}}</p>
				<p>{{can_pub}}</p>
        <p>{{para_pub}}</p>
		</div>
    {{/each}}
    {{/if}}
		<div class="col-sm-3" style="background-color:#fff;">
		</div>
</div>

</body>
</html>
