.container-fluid{
	margin-top:-70px;
	margin-bottom:-70px;
	
}

.row .col-sm-6{
  text-align:center;
  font-size:30px;
  font-weight:400;
  margin-top:10px;
  color:#fff;
  background-color:#00a2e8;
  }

.row .col1-sm-6{
  text-align:center;
  font-size:30px;
  font-weight:400;
  margin-top:10px;
  color:#00a2e8;
  background-color:;
  }
  
.form{
margin-top:0px;
padding:30px;
background-color:#00a2e8;
}  

.input{
	border-radius:10px;
	margin-top:10px;
	height:40px;
	width:30%;
}
#filter{
	height:50px;
	padding:10px;
	background-color:yellow;
}

#select{
	height:30px;
	color:#262626;
	margin-left:0px;	
}
.row a{
	color:#262626;
}

.input1{
	color:#262626;
	height:30px;
	width:20%;
}


.button{
margin-top:20px;
text-align:center;
color:#fff;
background-color:#00a2e8;
border-radius:20px;
font-size:12px;
border:10px solid #00a2e8;
text-transform: uppercase; 
padding:1px 10px 2px 10px;
}

.row{
	margin-top:10px;
}
.row th {
    padding:15px;
	margin:auto;
	margin-left:0px;
	margin-right:0px;
  color:#151515;
  height:10px;
  border-bottom: 15px solid #00a2e8 ;
  text-align:center;
  background-color:#fff;
  width:0%;
  right:0px;
}

.row td {
  padding:15px;
  height:10px;
  color:#151515;
  text-align:center;
  border-bottom: 15px solid #00a2e8 ;
  background-color:#fff;
  width:900px;
  right:0px;
}
.col-sm-1{
	height:100%; 
	background-color:#00a2e8;
}
.col-sm-10{
	background-color:#00a2e8;
	height:100%;
}



.input2{
	color:#262626;
	border-radius:5px;
	height:30px;
	font-size:15px;
	padding:10px;
}
