<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <style>
.name{
      font-size: 28px;
      color: white;
  }
.bulk{
    padding-bottom: 80px;
}
.specific{
padding-bottom: 260px;
    }

.heading{
      padding-top:50px;
      padding-left: 730px;
  }

.specheading{
      padding-top:30px;
      padding-left:720px;
  }

.containform{
  padding-left: 600px;
  padding-top: 30px;
}
.custom-file-uploader {

  cursor: pointer;
  height:34px;
}
  input[type=file] {
    display: inline-block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
  
}

.btn{
  cursor:pointer;
}

.inpform{
  padding:2px 10px 2px 20px;
  cursor: pointer;
  height: 34px;
  position: relative;
}
.form-control{
    float: left;
    width: 60%;
}

.details{
    margin-top:50px;
}

.VINnumber{
    width:200px;
    float: left;
    margin-left:430px;
}
.ECUlabel{
    color:#fff;
    padding-bottom: 10px;
}
.ECUname{
    width:200px;
    float:left;
    margin-left:50px;
}
.versionlabel{
    color:#fff;
    padding-bottom: 10px;
}
.Version{
    width:200px;
    float:left;
    margin-left:50px;
}
.pathlabel{
    color:#fff;
    padding-bottom: 10px;
}
.metabutton{
    margin-top: 35px;   
}

</style>
</head>

<body>
    <header>
        <div class="container-fluid">
            <img src="./images/think.jpg">
            <span style="color:black;float:right; vertical-align:middle ;"><a href="/logout" style="text-decoration:none;">LogOut</a></span>
            <span style="color:black;float:right; vertical-align:middle;margin-right:30px;"><i class="fa fa-home" style="font-size:12px;color:#00A2E8"></i>
                <a href="/listdevices">Home</a>
            </span>
        </div>
    </header>
    <script type="text/javascript">

        var getCookies = function () {
            console.log("thisname" + '{{username_info}}');
            //alert(pairs)
            var cookies = {};
            return cookies;
        }

        var myCookies = getCookies();


        function SubmitButtonOnclick() {
            var file = document.getElementById("csvfile").files[0];
            alert(file.name + " | " + file.size + " | " + file.type);
            var formdata = new FormData();
            formdata.append("file1", file);
            //formdata.append('{{Username_info}}', file);
            //var xhr = new XMLHttpRequest();
            $.ajax({
                type: 'POST',
                url: 'http://localhost:5003/BulkDevice',
                data: formdata,
                success: function (data) {
                    console.log("csvv ");
                    console.log(data);
                    document.getElementById("state").innerHTML = data;
                },
                cache: false,
                contentType: false,
                processData: false
            });
        }

        function SpecSubmitButtonOnclick() {
           // var formdata = new FormData();

            var vin = document.getElementById('SVname');
            var ecuname = document.getElementById('Ename');
            var version = document.getElementById('Vname');
            console.log("ecu");
            console.log(vin.value);
            var ar = {
                "Username":'{{username_info}}',
                "SrNo": vin.value,
                "ECU": ecuname.value,
                "UpdateToVersion": version.value
            };
            //formdata.append("file1", ar);
            console.log(ar);
            $.ajax({
                type: 'POST',
                url: 'http://localhost:5003/SingleDevice',
                data: JSON.stringify(ar),
                contentType: 'application/json',
                traditional: true,
                success: function (data) {
                    //console.log("csvv ");
                    //console.log(data);
                    document.getElementById("state").innerHTML = data;
                },

            });

        }

    </script>
    <div class="row">
        <div class="col-sm-6" style="background-`:#00a2e8;">
            <a href="#" style="color:#fff;">UPDATE DEVICES</a>
        </div>
        <div class="col1-sm-6" style="background-color:#fff;">
            <a href="/updateMetadata" style="color:#00a2e8;">UPDATE METADATA</a>
        </div>
    </div>


    <div class="row" style="background-color:#00a2e8;">
        <div class="col-md-4">
        </div>

        <div class="col-md-4">
        <div class="bulk">
            <div class="heading">
                <span class="name">Bulk Update</span>
            </div>
            <div class="containform">
                <form id="uploadForm" enctype="multipart/form-data" action="/upload" method="post">

                    <div class="form-group" style="width:400px;">
                        <label for="file" class="sr-only" style="cursor:pointer;">File</label>
                        <div class="input-group">

                            <div style="width:45%;float:left;">
                                <input type="text" style="cursor:pointer;" name="filename" class="form-control"
                                    placeholder="No file selected" readonly>
                            </div>

                            <div style="width:5%;float:left;">
                                <span style="cursor:pointer;position:relative;" class="input-group-btn">
                                    <div style="cursor:pointer;" type="button" class="btn btn-default  custom-file-uploader">
                                        <input type="file" style="cursor:pointer;position:absolute;" id="csvfile" name="csfile"
                                            onchange="this.form.filename.value = this.files.length ? this.files[0].name : ''">
                                        Select file
                                        </input>
                                    </div>
                                </span>
                            </div>

                            <div style="float:right;width:100px;">
                                <input type="button" value="Upload" name="submit" class="inpform" id="inp_id" onclick="SubmitButtonOnclick()">
                                <span class="glyphicon glyphicon-cloud-upload" style="position:absolute;right:81;top:9;"
                                    onclick="SubmitButtonOnclick()">
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
                <p id="state"></p>
            </div>
        </div>
        </div>

        <div class="col-md-4">
        </div>

        <div style="background-color:#fff;height:7px;"></div>

         <div class="col-md-4">
        </div>
         <div class="col-md-4">
        
        <div class="specific">
            <div class="specheading">
                <span class="name">Specific Update</span>
            </div>

            <div class="details">
                <div class="VINnumber">
                    <label class="ECUlabel" for="name">VIN / SrNo</label> <br />
                    <input class="ECUinput ECU_inputtext" id="SVname" name="name" type="text" placeholder="VIN / SrNo" />
                </div>
                <div class="ECUname">
                    <label class="versionlabel" for="name">ECU</label> <br />
                    <input class="versioninput version_inputtext" id="Ename" name="name" type="text" placeholder="ECU" />
                </div>
                <div class="Version">
                    <label class="pathlabel" for="name">Version</label> <br />
                    <input class="pathinput path_inputtext" id="Vname" name="name" type="text" placeholder="Version" />
                </div>
                <button class="metabutton" type="button" onclick="SpecSubmitButtonOnclick()" style="border-radius:5px;">Update!</button>
            </div>

        </div>

        </div>
        <div class="col-md-4">
        </div>

    </div>


</body>

</html>