<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <style>

#headname{
    font-size: 24px;
    color: white;
  }

.specific{
padding-bottom: 260px;
    }

.custom-file-uploader {

  cursor: pointer;
  height:34px;
}
  input[type=file] {
    display: inline-block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.btn{
  cursor:pointer;
}

.inpform{
  padding:2px 10px 2px 20px;
  cursor: pointer;
  height: 34px;
  
}

.ECUlabel{
    color:#fff;
    padding-bottom: 10px;
}

.versionlabel{
    color:#fff;
    padding-bottom: 10px;
}

.pathlabel{
    color:#fff;
    padding-bottom: 10px;
}
.metabutton{
    margin-top: 35px;   
}

</style>
</head>

<body>
    <header>
        <div class="container-fluid">
            <img src="./images/think.jpg">
            <span style="color:black;float:right; vertical-align:middle ;"><a href="/logout" style="text-decoration:none;">LogOut</a></span>
            <span style="color:black;float:right; vertical-align:middle;margin-right:30px;"><i class="fa fa-home" style="font-size:12px;color:#00A2E8"></i>
                <a href="/listdevices">Home</a>
            </span>
        </div>
    </header>
    <script type="text/javascript">

        var getCookies = function () {
            console.log("thisname" + '{{username_info}}');
            //alert(pairs)
            var cookies = {};
            return cookies;
        }

        var myCookies = getCookies();


        function SubmitButtonOnclick() {
            var file = document.getElementById("csvfile").files[0];
            alert(file.name + " | " + file.size + " | " + file.type);
            var formdata = new FormData();
            formdata.append("file1", file);
            //formdata.append('{{Username_info}}', file);
            //var xhr = new XMLHttpRequest();
            $.ajax({
                type: 'POST',
                url: 'http://localhost:5003/BulkDevice',
                data: formdata,
                success: function (data) {
                    console.log("csvv ");
                    console.log(data);
                    document.getElementById("state").innerHTML = data;
                },
                cache: false,
                contentType: false,
                processData: false
            });
        }

        function SpecSubmitButtonOnclick() {
            // var formdata = new FormData();
            var vin = document.getElementById('SVname');
            var ecuname = document.getElementById('Ename');
            var version = document.getElementById('Vname');
            console.log("ecu");
            console.log(vin.value);
            var ar = {
                "Username": '{{username_info}}',
                "SrNo": vin.value,
                "ECU": ecuname.value,
                "UpdateToVersion": version.value
            };
            //formdata.append("file1", ar);
            console.log(ar);
            $.ajax({
                type: 'POST',
                url: 'http://localhost:5003/SingleDevice',
                data: JSON.stringify(ar),
                contentType: 'application/json',
                traditional: true,
                success: function (data) {
                    //console.log("csvv ");
                    //console.log(data);
                    document.getElementById("state").innerHTML = data;
                },

            });

        }

    </script>
    
    <div class="row">
        <div class="col-sm-6" style="background-`:#00a2e8;">
            <a href="#" style="color:#fff;">UPDATE DEVICES</a>
        </div>
        <div class="col1-sm-6" style="background-color:#fff;">
            <a href="/updateMetadata" style="color:#00a2e8;">UPDATE METADATA</a>
        </div>
    </div>


    <div class="row" style="background-color:#00a2e8;">
        <div class="col-md-1">
        </div>
        <div class="row">
            <div class="col-md-12" id="bulk" >

                <div class="col-md-2">
                </div>
                <div class="col-md-8" style="padding-top:30px;margin-bottom:50px;text-align:center;">
                    <span id="headname">Bulk Update</span>
                </div>
                <div class="col-md-2">
                </div>

                <div align="center" class="col-md-12" style="">

                    <form id="uploadForm" enctype="multipart/form-data" action="/upload" method="post">
                        <div class="form-group" style="width:370px;">
                            <label for="file" class="sr-only" style="cursor:pointer;">File</label>
                            <div class="input-group">

                                <div class="col-md-10">
                                    <div style="float:left;">
                                        <input type="text" style="cursor:pointer;" name="filename" class="form-control"
                                            placeholder="No file selected" readonly>
                                    </div>

                                    <div style="width:5%;float:left;">
                                        <span style="cursor:pointer;position:relative;" class="input-group-btn">
                                            <div style="cursor:pointer;" type="button" class="btn btn-default  custom-file-uploader">
                                                <input type="file" style="cursor:pointer;position:absolute;" id="csvfile"
                                                    name="csfile" onchange="this.form.filename.value = this.files.length ? this.files[0].name : ''">
                                                Select file
                                                </input>
                                            </div>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-md-2">
                                    <input type="button" value="Upload" name="submit" class="inpform" id="inp_id"
                                        onclick="SubmitButtonOnclick()">
                                    <span class="glyphicon glyphicon-cloud-upload" style="position:absolute;right:28;top:9;"
                                        onclick="SubmitButtonOnclick()">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>

                   <p id="state" style="width:250px;color:white;text-align:center;border:1px solid white;margin-top:30px;margin-bottom:40px;">Status here</p>
                </div>


            </div>

            <div class="col-md-1">
            </div>
        </div>




        <div class="col-sm-12" style="background-color:#fff;height:7px;position:absolute;"></div>
        <div class="row" style="padding-bottom:100px;">
            <div class="col-md-1">
            </div>
            <div class="col-md-10" style="margin-top:60px;">



                <div class="col-md-2">
                </div>
                <div class="col-md-8" style="text-align:center;margin-bottom:50px;">
                    <span id="headname">Specific Update</span>
                </div>
                <div class="col-md-2">
                </div>

                <div class="col-md-12">
                    <div class="row">
                    <div class="col-md-1">
                    </div>

                    <div class="col-md-2">
                        <label class="ECUlabel" for="name">VIN / SrNo</label> <br />
                        <input class="ECUinput ECU_inputtext" id="SVname" name="name" type="text" placeholder="VIN / SrNo" />
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-2">
                        <label class="versionlabel" for="name">ECU</label> <br />
                        <input class="versioninput version_inputtext" id="Ename" name="name" type="text" placeholder="ECU" />
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-2">
                        <label class="pathlabel" for="name">Version</label> <br />
                        <input class="pathinput path_inputtext" id="Vname" name="name" type="text" placeholder="Version" />
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-1">
                        <button class="metabutton" type="button" onclick="SpecSubmitButtonOnclick()" style="border-radius:5px;">Update!</button>
                    </div>
                        
                    <div class="col-md-1">
                    </div>
                    </div>{{!-- row div --}}

                    <div class="row" style="margin-top:30px;">
                    <p id="state" style="width:250px;color:white;text-align:center;border:1px solid white;margin:auto;">Status here</p>
                    </div>
                </div>
            

            </div>
            
            <div class="col-md-1">
            </div>
        </div>
        {{!-- <p id="state" style="width:250px;color:white;text-align:center;border:1px solid white;margin:auto;">Status here</p> --}}
    </div>


</body>

</html>