<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="css/style.css">
  </head>
<body>
  <header>
		<div class="container-fluid">
      <img src="./images/think.jpg">
      <span style="color:black;float:right; vertical-align:middle ;"><a href="/listdevices" style="text-decoration:none;">Home</a>&nbsp;<font color="#00a2e8">|</font>&nbsp;<a href="/logout" style="text-decoration:none;">LogOut</a></span>
		</div>
	</header>
	<script type="text/javascript">
  {{#if error}}
    window.onload = alt;
  {{/if}}
  function sub(id){
    var data = {};
    var i,tr;
    tr = document.getElementById(id);
    data.vin = tr.getElementsByTagName("td")[2].innerHTML;
    data.startTime = tr.getElementsByTagName("td")[3].innerHTML;
    data.stopTime = tr.getElementsByTagName("td")[4].innerHTML;
    console.log(data)
    $.ajax({
      type: 'POST',
      url: 'http://8.9.36.13:3000/historiclog',
      data: data,
      dataType: 'json',
      success: function(result) {
		 console.log(result)
              //console.log(JSON.parse(result.responseText).success)
              console.log(result.success);
              var file = 'http://8.9.36.13:3000/home?file='+(result).success;
              window.location.href = file;
                  },
    error: function(result){
      console.log(result)
      //console.log(JSON.parse(result.responseText).success)
        console.log(result);
         var file = 'http://8.9.36.13:3000/home?file='+JSON.parse(response).success
         window.location.href=file;
    }
      });
  }
  function myFunction() {
    console.log("hello")
  var input, filter, table, tr, td, i,select;
  select=document.getElementById("select");
  var strUser = select.options[select.selectedIndex].value;
  console.log(strUser);
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[strUser];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1 && td.innerHTML.toUpperCase().indexOf(filter) < 1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
function alt(){
  alert('file not found')
}
    </script>
		<div class="row">
				<div class="col-sm-6" style="background-`:#00a2e8;">
				<a href="#" style="color:#fff;">DEVICE LOGS</a>
				</div>
				<div class="col1-sm-6" style="background-color:#fff;">
				<a href="#" style="color:#00a2e8;">ADD NEW DEVICE</a>
				</div>
		</div>
		<div class="row">
			<div class="col-sm-1" style="height:100%;">
			</div>
			<div class="col-sm-10" id="brand" style="height:100%;">
        <div class="row" id="filter" align="left" style="background-color:#00a2e8;">
          <input type="text" class="input2" style="width:25%;" id="myInput" onkeyup="myFunction()"  placeholder="Filter" />

          <span style="padding:10px;font-size:18px; color:#ffff;">Filter Criteria</span>
        <select  id="select">
   <option value="vin">VIN</option>

	    <option value="serial number">Serial number</option>
		  <option value="asc file">ASC FILE</option>
  </select>

	<input type="date" class="inputs" style="padding:4px;border:3px solid gray;margin-left:20px;" name="dateofbirth" id="dateofbirth" />
				</div>
				<div class="row" id="table-order" style="background-color:#00a2e8;">
				<table id="myTable" class="order-table" align="center">
		<thead>
			<tr>
				<th><img src="./images/car.png"></th>
				<th><a href="#"> VIN </a></th>
        <th> Serial number </th>
				<th> Start Date </th>
				<th> End Date </th>
				<th> ASC file </th>
			</tr>
		</thead>
		<tbody>

      {{#each devices}}
  			<tr id='{{log_start_tmp}}'>
          <td><img src="./images/car.png"></td>
          <td>{{vin}}</td>
  				<td>{{sr_no}}</td>
          <td>{{log_start_tmp}}</td>
          {{!-- <td>{{device_id}}</td> --}}
  				<td>{{log_stop_tmp}}</td>
          <td onclick="sub('{{log_start_tmp}}')" style="cursor:pointer">Get Logs</td>
        </tr>
        {{/each}}
			</tbody>
				</table>
				</div>
			</div>
			<div class="col-sm-1" style="height:100%;">
			</div>
		</div>
  <div>
    <!-- <form id="log" action="http://localhost:5000/historiclog" method="post" hidden>
<input type="text", name="file" >
<button type="submit" name="butt">
</form> -->
</div>

</body>
</html>
