<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">
 
 <style>
	 

 </style>
  </head>
<body>
	<header>
		<div class="container-fluid">
      <img src="./images/think.jpg">
      <span style="color:black;float:right; vertical-align:middle ;"><a href="/logout" style="textdecoration:none;">Logout</a></span>
      <span style="color:black;float:right; vertical-align:middle;margin-right:30px;"><i class="fa fa-home" style="font-size:12px;color:#00A2E8"></i>
                <a href="/listdevices">Home</a>
            </span>

		</div>
	</header>





{{!-- ############################################################################### --}}

  <script type="text/javascript">
  function myFunction() {
    console.log("hello")
  var input, filter, table, tr, td, i,select;
  select=document.getElementById("select");
  var strUser = select.options[select.selectedIndex].value;
  console.log(strUser);
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  console.log(tr);
  for (i = 1; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[strUser];
    console.log("td"+td);
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1 ) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

var flag=1;

$(document).ready(function(){
   new get_fb(); 
 });
 
setInterval(function(){get_fb();}, 4000);

function get_fb(){
var feedback = $.ajax({
    type: 'GET',
    url: 'http://localhost:3000/alerts',
    dataType: 'json',
                success: function(data) {
                  
                  if(flag==1)
                  {
                    if(localStorage.getItem("myajaxstore")!=null)
                      {
                        console.log("local",localStorage.getItem("myajaxstore"));
                        var object = JSON.parse(localStorage.getItem("myajaxstore"));
                        localStorage.clear();
                        //console.log("send val ",object);
                        for(var ob=0;ob<object.length;ob++)
                          {
                            $('#myTable').append('<tr><td>'+object[ob].serialNumber1+ '</td><td>'+object[ob].alertCode1+'</td></tr>');
                          }
                        flag++;
                        //$("ul#lists").append(object+"<br/>");
                      }
                  }
                  setTimeout(
                      function() 
                      {
                        
                        //console.log("data",data);
                        var dop = data.mess;
                        
                        if(dop.length!=0)
                        {
                          console.log('notify success');
                          //console.log("dop data", dop) 
                          for (let i=0;i<dop.length;i++)
                          {
                            $('#myTable').prepend('<tr class="new-rows" style="display:none; " ><td>'+dop[i].serialNumber1+ '</td><td>'+dop[i].alertCode1+'</td></tr>').fadeIn('slow');
                            $('.new-rows').fadeIn('slow');
                          }
                        }
                        
                      }, 2000);
                    
                    
                },
    error: function(result){
      console.log("errr");
      return;
      document.getElementById('errlogs').innerHTML = JSON.stringify(result);
      }
    });
}

  </script>
  {{!-- #########################################################################  --}}
		
    
    
    
    
    <div class="row">
			{{!--  --}}
				<div class="col-sm-6" style="background-`:#00a2e8;">
				<a href="#" style="color:#fff;">Alerts</a>
				</div>
				<div class="col1-sm-6" style="background-color:#fff;">
				<a href="#" style="color:#00a2e8;"></a>
				</div>
		</div>
		<div class="row" style="background-color:#00a2e8;">
			<div class="col-sm-1">
			</div>

			
			<div class="col-sm-10" id="brand">
				<div class="row" id="filter" align="left" style="background-color:#00a2e8;">
          <input type="text" class="input2" style="width:25%;" id="myInput" onkeyup="myFunction()"  placeholder="Filter" />

  				<span style="padding:10px;font-size:18px; color:#ffff;">Filter Criteria</span>
				<select  id="select">
    <option value="0">Device ID</option>
    <option value="1">Alert Code</option>
  </select>
				</div>
      
				<div class="row" id="table-order" style="background-color:#00a2e8;">
		<table id="myTable" class="order-table" align="center">
		<thead>
			<tr>
				<th>Device ID</th>
				<th>Alert Code</th>
				{{!-- <th>Active</th> --}}
			</tr>
		</thead>
		<tbody>
  			<tr>
				
  			</tr>
			</tbody>
				</table>
				</div>
        <p id='errlogs'></p>
			</div>
			<div class="col-sm-1">
			</div>
		</div>
  <div>
</div>

</body>
</html>
