<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/style.css">

  <style>
.notification{
    display: inline-block;
    position: absolute;
    right: 150;
    top:10;
    padding: 0.3em;
    z-index: 999;
    background: #3498db;
    border-radius: 0.2em;
    font-size: 1.3em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
		color: white;
}
.num {
  display: inline-block;
  position: absolute;
  background: #f07464;
  font-size: 13px;
  right: -15px;
  top: -10px;
  color: white;
	line-height:22px;
  padding-left: 6px;
  padding-right: 6px;
	border:2px solid grey;
	border-radius: 30px;
}
.update_devices{
Border:1px solid #00A2E8;
padding:2px 4px 2px 4px;
margin-top: 2px;
cursor:pointer;
 vertical-align:middle; margin-right:150px;
 color:black;
 float:right;
}
.update_devices > a:hover{
 text-decoration: none;
}
.history_logs{
  Border:1px solid #00A2E8;
  padding:2px 4px 2px 4px;
  margin-top: 2px;
  vertical-align:middle;
   margin-right:30px;
   float:right;
}
  </style>
</head>

<body>
  <header>
    <div class="container-fluid">
      <img src="./images/think.jpg">

      <span style="color:black;float:right; vertical-align:middle ;"><a href="/logout" style="textdecoration:none;">Logout</a></span>
      <span class="update_devices"><i class="fa fa-refresh" style="font-size:13px;color:#00A2E8"></i>
        <a href="/updateDevices">Update device firmware</a>
      </span>
      <span class="history_logs"><i class="fa fa-history" style="font-size:13px;color:#00A2E8"></i>
        <a href="/historyLogs">History Logs</a>
      </span>
    </div>
  </header>
  <script type="text/javascript">
    function myFunction() {
      console.log("hello")
      var input, filter, table, tr, td, i, select;
      select = document.getElementById("select");
      var strUser = select.options[select.selectedIndex].value;
      console.log(strUser);
      input = document.getElementById("myInput");
      filter = input.value.toUpperCase();
      table = document.getElementById("myTable");
      tr = table.getElementsByTagName("tr");
      console.log(tr.length);
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[strUser];
        console.log("td", td);
        if (td) {
          if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
            console.log("trrr", tr)
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
    var arr = [];

    $(document).ready(function () {
      new get_ini();
      new get_func();
    });
    function get_ini() {
      //$('#not1 .num').text(0);
    }
    setInterval(function () { get_func(); }, 4000);
    info = [];
    info[0] = 'hi';
    info[1] = 'hello';


    function get_func() {
      var feedback = $.ajax({
        type: "GET",
        url: 'http://localhost:3000/alerts',
        dataType: 'json',
        success: function (data) {
          var da = data;
          var dop = da.mess;

          //#console.log("llllll",dop.alertCode1);
          if (dop != null)
            if (dop.length != 0) {
              for (let i = 0; i < dop.length; i++) {
                console.log(dop[i]);
                console.log("serial no. " + dop[i].serialNumber1 + " alert code " + dop[i].alertCode1);
                arr.push(dop[i]);

                //localStorage.setItem("myajaxstore", JSON.stringify(arr));

              }

            }

          $('#not1 .num').text(arr.length);

          if (localStorage.getItem("myajaxstore") != null) {
            var object = JSON.parse(localStorage.getItem("myajaxstore"));
            localStorage.clear();
            if (da.mess.length != 0)
              console.log("send val ", object);
            //$("ul#lists").append(object+"<br/>");
          }
          localStorage.setItem("myajaxstore", JSON.stringify(arr));
          //$('#btn1 .notif').text(n);

        }
      });
    }


  </script>
  {{!-- ############################################################################### --}}

  <div class="row">
    {{!-- <div id="not1" class="notification" onclick="location.href='/error?sr_no={{device_info.sr_no}}';"> --}}
      <a href="/error" id="not1" class="notification">
        <span class="glyphicon glyphicon-bell"></span>
        <div class="num">0</div>
        {{!-- </div> --}}
    </a>

  {{!-- --}}
  <div class="col-sm-6" style="background-`:#00a2e8;">
    <a href="/listdevices" style="color:#fff;">LIST DEVICES</a>
  </div>
  <div class="col1-sm-6" style="background-color:#fff;">
    <a href="/register" style="color:#00a2e8;">REGISTER DEVICE</a>
  </div>
  </div>
  <div class="row" style="background-color:#00a2e8;">
    <div class="col-sm-1">
    </div>


    <div class="col-sm-10" id="brand">
      <div class="row" id="filter" align="left" style="background-color:#00a2e8;">
        <input type="text" class="input2" style="width:25%;" id="myInput" onkeyup="myFunction()" placeholder="Filter" />

        <span style="padding:10px;font-size:18px; color:#ffff;">Filter Criteria</span>
        <select id="select">
          <option value="1">Device ID</option>
          <option value="2">Status</option>
        </select>
      </div>
      <div class="row" id="table-order" style="background-color:#00a2e8;">
        <table id="myTable" class="order-table" align="center">
          <thead>
            <tr>
              <th>#</th>
              <th>Device ID</th>
              <th>Status</th>
              <th>Active</th>
            </tr>
          </thead>
          <tbody>
            {{#each device_info}}
            <tr>
              <td><img src="./car.png"></td>
              <td><a href="/logdata?sr_no={{sr_no}}">{{sr_no}}</a></td>
              <td>{{status}}</td>
              <td>{{#ifEquals status "Inactive"}} <span style="color:red;">Inactive</span> {{else}}<span style="color:green;">
                  Active </span>{{/ifEquals}} </td>
              <label for=emailUpdates>
                <span></span>
                <div class="switch">
                  <div class="switch__toggle"></div>
                </div>
              </label></td>
            </tr>
            {{/each}}

          </tbody>
        </table>
      </div>
    </div>
    <div class="col-sm-1">
    </div>
  </div>
  <div>
  </div>

</body>

</html>