<html>
<head>
	<meta charset="utf-8">
	<meta content='width=device-width, initial-scale=1' name='viewport'/>

	<meta name="description" content="Truring softek">
	<meta hhtp-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="keywords" content="value through technology, softek, truring">
	<title>Think Embedded | welcome</title>
	<link rel="stylesheet" type="text/css" href="dist/zoomslider.css" />
	<script type="text/javascript" src="js/modernizr-2.6.2.min.js"></script>
	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,500" rel="stylesheet">
	<link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap.no-icons.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
	<script src="https://code.jquery.com/jquery-3.2.1.js">
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


</head>
<body>
<header>
<div class="container">
 <div id="branding">
<h1><a href="index.html"><img src="./think.jpg"></a></h1>
</div>
</div>
</header>

<script type="text/javascript">
window.onload =  display_error;
function display_error(){
	console.log('error->')

	{{#if error}}
	console.log({{error}})
		var er = document.createTextNode('ERROR: '+{{error}}),
		p1 = document.getElementById('p1');
		p1.appendChild(er);
	{{/if}}
}

(function(document) {
	'use strict';

	var LightTableFilter = (function(Arr) {

		var _input;
    var _select;

		function _onInputEvent(e) {
			_input = e.target;
			var tables = document.getElementsByClassName(_input.getAttribute('data-table'));
			Arr.forEach.call(tables, function(table) {
				Arr.forEach.call(table.tBodies, function(tbody) {
					Arr.forEach.call(tbody.rows, _filter);
				});
			});
		}

		function _onSelectEvent(e) {
			_select = e.target;
			var tables = document.getElementsByClassName(_select.getAttribute('data-table'));
			Arr.forEach.call(tables, function(table) {
				Arr.forEach.call(table.tBodies, function(tbody) {
					Arr.forEach.call(tbody.rows, _filterSelect);
				});
			});
		}

		function _filter(row) {

			var text = row.textContent.toLowerCase(), val = _input.value.toLowerCase();
			row.style.display = text.indexOf(val) === -1 ? 'none' : 'table-row';

		}

		function _filterSelect(row) {

			var text_select = row.textContent.toLowerCase(), val_select = _select.options[_select.selectedIndex].value.toLowerCase();
			row.style.display = text_select.indexOf(val_select) === -1 ? 'none' : 'table-row';

		}

		return {
			init: function() {
				var inputs = document.getElementsByClassName('light-table-filter');
				var selects = document.getElementsByClassName('select-table-filter');
				Arr.forEach.call(inputs, function(input) {
					input.oninput = _onInputEvent;
				});
				Arr.forEach.call(selects, function(select) {
         select.onchange  = _onSelectEvent;
				});
			}
		};
	})(Array.prototype);

	document.addEventListener('readystatechange', function() {
		if (document.readyState === 'complete') {
			LightTableFilter.init();
		}
	});

})(document);
</script>

<script type="text/javascript">
   $('#next').click(function{

    $('#showsecond').show();

});
</script>




<div class="menu-icon"><i style="position:relative;border-radius:1px;border-spacing:0px;margin-left:0px;height:34px;width:0px;background-color:#fff;float:right;color:#00a2e8;padding-right:-0px;right:50px;top:-80px;" class="fa fa-bars fa-2x"></i></div>
		<div class="tabs">
			<h3 class="signup-tab"><a href="listdevices.html">LIST DEVICES</a></h3>
			<h3 class="login-tab"><a class="active" href="register.html">REGISTERED DEVICE</a></h3>

		</div><!--.tabs-->

		<div class="tabs-content">
			<div id="login-tab-content" class="active">
				<form id="go" class="login-form" action="/c_add" method="post">
				<input type="text" class="input1" name="sr_no" id="user_login" autocomplete="off" placeholder="Serial number...">
				<button class="button" form="go" type="submit ">Register</button>
				</form>
				</br></br></br><p class="error" id = "p1"></p><!--.login-form-->
			</div><!--.login-tab-content-->
		</div><!--.tabs-content-->
	</div><!--.form-wrap-->

</body>
</head>
</html>
