<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="css/style.css">
  </head>
<body>

	<header>
		<div class="container-fluid">
      <img src="./images/think.jpg">
      <span style="color:black;float:right; vertical-align:middle ;"><a href="/logout" style="textdecoration:none;">Logout</a></span>
		</div>
	</header>
  <script type/javascript>
  window.onload =  display_error;
  function display_error(){
    {{#if error}}
      var er = document.createTextNode(" {{error}}"),
      p1 = document.getElementById('p1');
      p1.appendChild(er);
    {{/if}}
  }

  function sub(){
    $('#go').submit();

  }
  </script>
		<div class="row">
				<div class="col-sm-6" style="background-color:#fff;">
				<a href="/listdevices" style="color:#00a2e8;">LIST DEVICES</a>
				</div>
				<div class="col1-sm-6" style="background-color:#00a2e8;">
				<a href="/register" style="color:white;">REGISTER DEVICE</a>
				</div>
		</div>
		<div class="row" align="center">

			<div class="form" align="center">
				<div id="login-tab-content" class="active">
					<form id="go" class="cqw" action="/c_add" method="post">
						<input type="text" class="input" id="sr_no" name="sr_no" autocomplete="off" placeholder="Serial number..." style="border-radius:10px;padding:10px;"/>
						<br>
					</form><!--.login-form-->
          {{#if error}}
          <div class="alert alert-danger">
              <p id="p1"><strong>Error!</strong></p>
          </div>
          {{/if}}
				</div>
			</div>
		<button class="button" onclick="sub()">Register</button>
		</div>
  <div>
</div>

</body>
</html>
