<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" type="text/css"/>
	<link rel="stylesheet" href="css/style.css">
  </head>
<body>
	<header>
		<div class="container-fluid">
      <img src="./images/think.jpg">
		</div>
	</header>
  <script text/javascript>
  $(document).ready(function(){
  $('#password, #confirm_password').on('keyup', function () {
  if ($('#password').val() == $('#confirm_password').val()) {
    $('#confirm_password').html('').css('color', 'green');


  } else
    $('#confirm_password').html('').css('color', 'red');

});
});
  function sub(){
    if ($('#password').val() == $('#confirm_password').val()) {
    $('#sub').submit();
  }
  else {
    $('#msg').html('Password Invalid')
  }
  }
  </script>
		<div class="row">
			<div class="col-sm-6" style="height:100%;background-color:#00a2e8;">
			<div class="row">
					<div class="col-sm-12" align="center" style="background-color:#00a2e8;margin-top:150px;">
					 <p><i class="fa fa-lock fa-1x"></i><span> </span>Lorem ipsum dolor sit amet.</p></br>
					 <p><i class="fa fa-eye fa-1x"></i><span> </span>Lorem ipsum dolor sit amet.</p></br>
					 <p><i class="fa fa-exclamation-triangle fa-1x"></i><span> </span>Lorem ipsum dolor sit amet.</p>
					</div>
					</div>
			</div>
			<div class="col-sm-6" style="background-color:#fff;">
					<div class="row">
					<div class="col-sm-2" style="background-color:#fff;height:100%;">
					</div>
					<div class="col-sm-9" align="center" style="color:#151515; background-color:#fff;margin-top:100px;">
					<p style="color:#00a2e8;">Sign Up</p>
					<form id="sub" class="login_form" action="/signup" method="post">
					<p><input type="text" class="input2" name="firstlast_name" placeholder="Email address" size="35" /></p>
					<p><input type="password" id="password" class="input2" name="password" placeholder="Password" size="35" /></p>
					<p><input type="password" id="confirm_password" class="input2" name="Confirm password" placeholder="Confirm Password" size="35" /></p>
        <p >  <select class="select1" name="company_name">
          <option value="Company Name:">Company Name:</option>
 <option value="Thinkembedded">Thinkembedded</option>
 <option value="Truring Softek">Truring Softek</option>
</select></p>
{{#if error}}
<div class="alert alert-danger" style="height:auto; padding:5px; font-size:15px;">
    <p id="p1"><strong>Error!</strong>"{{error}}"</p>
</div>
{{/if}}
					<button id="but" class="button" form="login_form" type="submit" onClick="sub()">Sign Up</button>
					</form>
          <p id="msg" style="font-size:15px; color:red;"></p>
					</div>
					<div class="col-sm-1" style="background-color:#fff;height:100%;">
					</div>
				</div>
			</div>
			</div>
</body>
</html>
