<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
    <style>
        #headname{
    font-size: 24px;
    color: white;
  }

.specific{
padding-bottom: 200px;
    }

.custom-file-uploader {

  cursor: pointer;
  height:34px;
}
  input[type=file] {
    display: inline-block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.btn{
  cursor:pointer;
}

.inpform{
  padding:2px 10px 2px 20px;
  cursor: pointer;
  height: 34px;

}

.ECUlabel{
    color:#fff;
    padding-bottom: 10px;
}

.versionlabel{
    color:#fff;
    padding-bottom: 10px;
}

.pathlabel{
    color:#fff;
    padding-bottom: 10px;
}
.metabutton{
    margin-top: 35px;
}

</style>
</head>

<body>
    <header>
        <div class="container-fluid">
            <img src="./images/think.jpg">
            <span style="color:black;float:right; vertical-align:middle ;"><a href="/logout" style="text-decoration:none;">Logout</a></span>
            <span style="color:black;float:right; vertical-align:middle;margin-right:30px;"><i class="fa fa-home" style="font-size:12px;color:#00A2E8"></i>
                <a href="/listdevices">Home</a>
            </span>
        </div>
    </header>
    <script type="text/javascript">

        function SubmitButtonOnclick() {
            var file = document.getElementById("csvfile").files[0];
            alert(file.name + " | " + file.size + " | " + file.type);
            var formdata = new FormData();
            formdata.append("file1", file);
            //var xhr = new XMLHttpRequest();
            let progreshandle = "";
            $.ajax({
                type: 'POST',
                url: 'http://8.9.36.13:3000/Bulkmetadata',
                data: formdata,
                success: function (data) {
                    console.log("csvv");
                    console.log(data);
                    document.getElementById("state").innerHTML = data;
                    progreshandle = data;
                },
                error: function (data) {
                    alert("some error");
                    console.log(data);
                    progreshandle = "ConnectionError"
                    document.getElementById("state").innerHTML = "Connection Error";
                },
                cache: false,
                contentType: false,
                processData: false
            });

            $(function () {
                var current_progress = 0;

                var interval = setInterval(progressfunc, 200);
                function progressfunc() {
                    $('#progress-wrap').fadeIn('slow');
                    current_progress += 1;
                    if (progreshandle == "ConnectionError") {
                        current_progress = 0;
                        clearInterval(interval);
                        $("#dynamic")
                            .css("width", current_progress + "%")
                            .attr("aria-valuenow", current_progress)
                            .text(current_progress + "% Complete");
                        $('#progress-wrap').fadeOut('slow');
                        $("#state").css("color", "red");
                    }
                    else if (progreshandle == "uploaded successfully") {
                        console.log("progress in loop ," + progreshandle);
                        current_progress = 100;
                        $('#progress-wrap').fadeOut('slow');
                    }
                    $("#dynamic")
                        .css("width", current_progress + "%")
                        .attr("aria-valuenow", current_progress)
                        .text(current_progress + "% Complete");
                    if (current_progress >= 99)
                        clearInterval(interval);
                }

                //bar reached to 99 during pushing sftp paths
                if (progreshandle == "uploaded successfully") {
                    console.log("progress after loop ," + progreshandle);
                    current_progress = 100;
                    $("#dynamic")
                        .css("width", current_progress + "%")
                        .attr("aria-valuenow", current_progress)
                        .text(current_progress + "% Complete");
                    $('#progress-wrap').fadeOut('slow');
                }
            }
            );

        }

        function SpecSubmitButtonOnclick() {
            //var formdata = new FormData();

            var ecu = document.getElementById('Ename');
            var avname = document.getElementById('AVname');
            var pathname = document.getElementById('ftpname');
            let progreshandle = "";
            console.log("ecu");
            console.log(ecu.value);
            var ar = {
                "ECU": ecu.value,
                "Available_Version": avname.value,
                "File_Path": pathname.value
            };
            //formdata.append("file1", ar);
            console.log(ar);
            $.ajax({
                type: 'POST',
                url: 'http://8.9.36.13:3000/SingleMetadata',
                data: JSON.stringify(ar),
                contentType: 'application/json',
                traditional: true,
                success: function (data) {
                    //console.log("csvv ");
                    console.log(data);
                    progreshandle = data;
                    document.getElementById("state2").innerHTML = data;
                },
                error: function (response) {
                    console.log(response);
                    progreshandle = "ConnectionError"
                    document.getElementById("state2").innerHTML = "Connection Error";
                }

            });

            $(function () {
                var current_progress = 0;
                var interval = setInterval(progressfunc, 200);
                function progressfunc() {
                    $('#progress-wrap2').fadeIn('slow');
                    current_progress += 1;
                    if (progreshandle == "ConnectionError") {
                        current_progress = 0;
                        clearInterval(interval);
                        $("#dynamic2")
                            .css("width", current_progress + "%")
                            .attr("aria-valuenow", current_progress)
                            .text(current_progress + "% Complete");
                        $('#progress-wrap2').fadeOut('slow');
                        $("#state2").css("color", "red");
                    }
                    //else if (progreshandle == "No error in file, pushing sftp paths to devices") {
                    else if (progreshandle == "uploaded successfully") {
                        console.log("progress in loop ," + progreshandle);
                        current_progress = 100;
                        $('#progress-wrap2').fadeOut('slow');
                    }

                    $("#dynamic2")
                        .css("width", current_progress + "%")
                        .attr("aria-valuenow", current_progress)
                        .text(current_progress + "% Complete");
                    if (current_progress >= 99)
                        clearInterval(interval);
                }

                //bar reached to 99 during pushing sftp paths
                //if (progreshandle == "No error in file, pushing sftp paths to devices") {
                if (progreshandle == "uploaded successfully") {
                    console.log("progress after loop ," + progreshandle);
                    current_progress = 100;
                    $("#dynamic2")
                        .css("width", current_progress + "%")
                        .attr("aria-valuenow", current_progress)
                        .text(current_progress + "% Complete");
                    $('#progress-wrap2').fadeOut('slow');
                }
            }
            );

        }

    </script>
    <div class="row">
        <div class="col-sm-6" style="background-color:#fff;">
            <a href="/updateDevices" style="color:#00a2e8;">UPDATE DEVICES</a>
        </div>
        <div class="col1-sm-6" style="background-color:#00a2e8;">
            <a href="#" style="color:#fff;">UPDATE METADATA</a>
        </div>
    </div>
    <div class="row" style="background-color:#00a2e8;">
        <div class="col-md-1">
        </div>
        <div class="row">
            <div class="col-md-12" id="bulk">
                <div class="row">
                    <div class="col-md-3">
                    </div>
                    <div class="col-md-6" style="padding-top:0px;text-align:center;">
                        <span id="headname">Bulk Update</span>
                    </div>
                    <div class="col-md-3">
                    </div>
                </div>
                <div class="row">
                    <div align="center" class="col-md-12" style="height:7%;">
                        <div class="row">
                            <div class="row"></div>
                            <div class="row"></div>
                            <form id="uploadForm" enctype="multipart/form-data" action="/upload" method="post">
                                <div class="form-group" style="width:370px;">
                                    <label for="file" class="sr-only" style="cursor:pointer;">File</label>
                                    <div class="input-group">

                                        <div class="col-md-10">
                                            <div style="float:left;">
                                                <input type="text" style="cursor:pointer;" name="filename" class="form-control"
                                                    placeholder="No file selected" readonly>
                                            </div>

                                            <div style="width:5%;float:left;">
                                                <span style="cursor:pointer;position:relative;" class="input-group-btn">
                                                    <div style="cursor:pointer;" type="button" class="btn btn-default  custom-file-uploader">
                                                        <input type="file" style="cursor:pointer;position:absolute;" id="csvfile"
                                                            name="csfile" onchange="this.form.filename.value = this.files.length ? this.files[0].name : ''">
                                                        Select file
                                                        </input>
                                                    </div>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="col-md-2">
                                            <input type="button" value="Upload" name="submit" class="inpform" id="inp_id"
                                                onclick="SubmitButtonOnclick()">
                                            <span class="glyphicon glyphicon-cloud-upload" style="position:absolute;right:28;top:9;"
                                                onclick="SubmitButtonOnclick()">
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <p id="state" style="width:20%;color:white;text-align:center;border:1px solid white;margin-top:30px;margin-bottom:10px;">Status
                                    here</p>
                            </form>
                        </div>
                        {{!-- <p id="state" style="width:250px;color:white;text-align:center;border:1px solid white;margin-top:30px;margin-bottom:10px;">Status
                            here</p> --}}
                        {{!-- --}}
                        <div id="progress-wrap" class="progress" style="width:30%;height:17px;display:none;">
                            <div id="dynamic" class="progress-bar progress-bar-success" role="progressbar"
                                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                {{!-- class="progress-bar progress-bar-success progress-bar-striped active" --}}
                                <span id="current-progress"></span>
                            </div>
                        </div>
                        {{!-- --}}
                    </div>
                </div>

            </div>

            <div class="col-md-1" style="height:15%;">
            </div>
        </div>



        <div class="row">
            <div class="row"></div>
            <div class="row"></div>
            <div class="row"></div>
            <div class="col-sm-12" style="background-color:#fff;height:7px;"></div>
        </div>
        <div class="row" style="padding-bottom:100px;">
            <div class="col-md-1">
            </div>
            <div class="col-md-10" style="margin-top:60px;">

                <div class="col-md-2">
                </div>
                <div class="col-md-8" style="text-align:center;margin-bottom:50px;">
                    <span id="headname">Specific Update</span>
                </div>
                <div class="col-md-2">
                </div>

                <div class="col-md-12">
                    <div class="row">


                        <div class="col-md-12">
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-10">

                                <div class="col-md-3">
                                    <label class="ECUlabel" for="name" style="text-align:left;">ECU</label> <br />
                                    <input class="ECUinput ECU_inputtext" id="Ename" name="name" type="text"
                                        placeholder="ECU" />
                                </div>
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-3">
                                    <label class="versionlabel" for="name" style="text-align:left;">Available Version</label>
                                    <br />
                                    <input class="versioninput version_inputtext" id="AVname" name="name" type="text"
                                        placeholder="Version" />
                                </div>
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-3">
                                    <label class="pathlabel" for="name" style="text-align:left;">FilePath</label> <br />
                                    <input class="pathinput path_inputtext" id="ftpname" name="name" type="text"
                                        placeholder="Path" />
                                </div>
                            </div>

                            <div class="col-md-1">
                                <button class="metabutton" type="button" onclick="SpecSubmitButtonOnclick()" style="border-radius:5px;">Update</button>
                            </div>

                        </div>


                    </div>{{!-- row div --}}

                    <div align="center" class="row" style="margin-top:30px;">
                        <p id="state2" style="width:250px;color:white;text-align:center;border:1px solid white;">Status
                            here</p>
                        {{!-- --}}
                        <div id="progress-wrap2" class="progress" style="width:30%;height:17px;display:none;">
                            <div id="dynamic2" class="progress-bar progress-bar-success" role="progressbar"
                                aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                {{!-- class="progress-bar progress-bar-success progress-bar-striped active" --}}
                                <span id="current-progress"></span>
                            </div>
                        </div>
                        {{!-- --}}
                    </div>
                </div>


            </div>

            <div class="col-md-1">
            </div>
        </div>
        {{!-- <p id="state" style="width:250px;color:white;text-align:center;border:1px solid white;margin:auto;">Status
            here</p> --}}
    </div>


</body>

</html>
