<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="css/style.css">
 <style>

[type=checkbox] {
  position: relative !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

[type=checkbox]:checked + label .switch { background-color: green; }

[type=checkbox]:checked + label .switch__toggle {
  background-color: #fff;
  transform: translate3d(0, -50%, 0);
}

[type=checkbox]:checked + label .switch__toggle:after {
  background-color: green;
}

label {
  display: flex;
  align-items: center;
  font: 16px/1.5 sans-serif;
  cursor: pointer;
}
.text-red {
  color: #f07464;
}

.button-toggle-wrap {
  text-align: center;
  position: relative;
  left: 95%;
  padding:0px 10px 0px 10px;
  margin-top:-25px;

  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.button-toggle {
  display: inline-block;
  background: #bbbbbb;
  border-radius: 3px;
  height: 30px;
  padding: 4px;
  width: 60px;
  position: relative;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.22);
}
.button-toggle .handle {
  position: absolute;
  left: 4px;
  right: auto;
  width: 24px;
  height: 23px;
  background: #fff;
  border-radius: 3px;
  transition: all 0.4s cubic-bezier(0.33, 1.6, 0.66, 1);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.22);
}

.toggler {
  display: none;
}
.toggler:checked + .button-toggle {
  background: green;
}
.toggler:checked + .button-toggle .handle {
  left: 30px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
#buttn{
float:right;
border-radius:10px;


}
#buttn:hover{
background-color:#fff;
color:#00e2ad;
}
#response{
background-color:gray;
border-radius:3px;
padding:8px;
margin-top:0px;
border:2px solid #666666;
}
#request{
padding:8px;
background-color:#00a7ed;
border-radius:3px;
margin-top:0px;
border:3px solid #00a7ed;

}

 </style>
  </head>
<body>
	<header>
		<div class="container-fluid">
      <img src="./images/think.jpg">
      <span style="color:black;float:right; vertical-align:middle ;"><a href="/listdevices" style="text-decoration:none;">Home</a>&nbsp;<font color="#00a2e8">|</font>&nbsp;<a href="/logout" style="text-decoration:none;">LogOut</a></span>
		</div>
	</header>
	<script type="text/javascript">
//window.onload = disable_div;
// non of use
var dots = window.setInterval( function() {
    var wait = document.getElementById("wait");
    if ( wait.innerHTML.length > 3 )
        wait.innerHTML = ".";
    else
        wait.innerHTML += ".";
    }, 100);

function add_cmd(){
    var txt = document.getElementById('cmd').value;
    txt = "--> Request : "+txt;
    var child = document.getElementById('chat');
    console.log(child)
    if(child.childNodes.length<4)
      child.lastChild.previousSibling.innerHTML = txt;
    else {
      child.lastChild.innerHTML = txt;
      }
}

$(document).ready(function(){
	$("#toggler").click(function() {
	var data = {};
  console.log('ewfwef')
		var target = $(".my-text");
		if($(this).prop('checked')) {
			target.html('LOGGING DATA');
			data.msg="start";
			data.sr_no = document.getElementById('sr_no').value;
		//	data.sr_no = document.getElementById('serialno').value
		} else {
			target.html('NOT LOGGING');
			data.msg="stop"
			data.sr_no = document.getElementById('sr_no').value;
		}
					$.ajax({
						type: 'POST',
						url: 'http://8.9.36.13:3000/command',
						data: data,
				    dataType: 'application/json',
                        success: function(data) {
                            console.log('success');
                            console.log(JSON.stringify(data));
                        }
						});
})
});

function send(id){
  add_cmd();
  // modal.style.display = "block";
  var txt = document.getElementById(id).value;
  var data = {};
  data.msg = txt;
  data.sr_no = document.getElementById('sr_no').value;
  console.log(data)
  $.ajax({
    type: 'POST',
    url: 'http://localhost:3000/cmd',
    data: data,
    dataType: 'json',
                success: function(data) {
                    console.log('success');
                    console.log(JSON.stringify(data));
					var br = document.createElement("br");
                    var element = document.getElementById("chat");
                    var lchild = element.lastChild;
                    console.log(element)
                    var para = document.createElement("p");
					para.setAttribute("id","response")
                    var text = document.createTextNode(JSON.stringify(data));
                    var request = document.createElement("p");
					request.setAttribute("id","request")
                    var request_text = document.createTextNode("--> Request :");
                    para.appendChild(text)
					para.appendChild(br)
					element.appendChild(br)
                    element.insertBefore(para,lchild.nextSibling)
                    lchild = element.lastChild;
                    request.appendChild(request_text)
					request.appendChild(br)
					//element.appendChild(br)
                    element.insertBefore(request,lchild.nextSibling)

                    //document.getElementById('fish').innerHTML = JSON.stringify(data);
                },
    error: function(result){
      document.getElementById('fish').innerHTML = JSON.stringify(result);

      }
    });
}
function disable_div(){
{{#unless device_info.vin}}

$("#mydiv").addClass("disabledbutton");
{{/unless}}
}

function log(){
  $("#log").submit();
}


</script>

		<div class="row">
				<div class="col-sm-6" style="border:5px solid #00a2e8;">
				<a href="#" style="color:#fff;">DEVICE INFO</a>
				</div>
				<div class="col1-sm-6" style="border:5px solid #00a2e8;background-color:#fff;">
				<a href="#" style="color:#00a2e8;">DEVICE DATA</a>
				</div>
		</div>
    <button id="myBtn" hidden>Open Modal</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
      <h2>Request Command</h2>
    </div>
    <div class="modal-body">
      <p id="fish" style="font-weight:bold; font-size:25px">Please Wait...</p>
    </div>

  </div>

</div>
		<div class="row" style="margin-top:0px;">
		<div class="col-sm-6" disabled="true">
					<div class="col-sm-2">
					</div>
					<div class="col-sm-10" align="left" style="height:100%;margin: auto; ">
					<form id="go" class=" cqw" action="/c_add" align="left" method="post" style="padding:30px 0px 0px 0px;margin: auto;">
            <div class="row">
            <div class="col-sm-5">
						<p>Device Status</br><input type="text" class="input2" id="status" autocomplete="off" style="color:#151515;" value = "{{device_info.status}}" placeholder="{{device_info.status}}" disabled /></p>
          </div>
          <div class="col-sm-5">
            <p>Serial Number</br><input type="text" class="input2" id="sr_no" autocomplete="off" style="color:#151515;" value= "{{device_info.sr_no}}" placeholder="{{device_info.sr_no}}" disabled /></p>
          </div>
        </div>
      </form>
      <br>
      <hr>

	<!--					<p>Vehicle Number</br><input type="text" class="input2" id="user_login" autocomplete="off" style="color:#151515;" placeholder="Vehicle Number" ></p>
						<p>Vehicle Model</br><input type="text" class="input2" id="user_login" autocomplete="off" style="color:#151515;" placeholder="Vehicle Model"></p>
            !-->

{{#if device_info.vin}}
<div class="col-sm-10">
<div class="panel panel-primary" style="font-size: 15px">
      <div class="panel-heading"> <p style="color:black;padding:10px 0px 0px 0px;">Log Data <span class="my-text" id="my-text" style="font-size:15px">DEVICE IDLE </span><span class="wait" id="wait">.</span>  </p><label style="padding:0px 0px 0px 140px;float:inline-start;"class="button-toggle-wrap">
<input class="toggler" id="toggler" type="checkbox" data-toggle="button-toggle"/>
<div class="button-toggle">
<div class="handle">
  <div class="bars"></div>
</div>
</div>
</label></div>
<div class="panel-body" style="color:black;height:80px;">
<p style="padding:15px 0px 0px 0px;">Download Historical Logs<a style="float:right;" href ="/historiclog?vin={{device_info.vin}}"><img style="height:58px;margin-top:-20px;margin-right: 5px;" src="./images/download.png"></a></p>
</div>
<div class="panel-heading" style="color:black;height:80px;">
<p style="padding:20px 0px 0px 0px;">View Vehicle Statistics<a style="float:right;" href="http://45.63.16.214:5601/app/kibana#/dashboard/5336b830-a611-11e8-b3df-a13aa4d04283?_g=(refreshInterval:(display:Off,pause:!f,value:0),time:(from:'2018-08-22T14:07:46.491Z',mode:absolute,to:'2018-08-22T14:22:46.491Z'))&_a=(description:'',filters:!(),fullScreenMode:!t,options:(darkTheme:!f,hidePanelTitles:!f,useMargins:!t),panels:!((embeddableConfig:(),gridData:(h:15,i:'1',w:48,x:0,y:0),id:'45e9fc10-a610-11e8-b3df-a13aa4d04283',panelIndex:'1',type:search,version:'6.3.2'),(embeddableConfig:(),gridData:(h:7,i:'2',w:17,x:31,y:15),id:'17173fc0-a60f-11e8-b3df-a13aa4d04283',panelIndex:'2',type:visualization,version:'6.3.2'),(embeddableConfig:(),gridData:(h:10,i:'3',w:17,x:31,y:22),id:a6601db0-a60e-11e8-b3df-a13aa4d04283,panelIndex:'3',type:visualization,version:'6.3.2'),(embeddableConfig:(mapCenter:!(-10.833305983642491,91.58203125000001),mapZoom:2),gridData:(h:17,i:'4',w:31,x:0,y:15),id:'50cfaaa0-a60e-11e8-b3df-a13aa4d04283',panelIndex:'4',type:visualization,version:'6.3.2')),query:(language:lucene,query:{{device_info.sr_no}}),timeRestore:!f,title:'Telematics%20Dashboard',viewMode:view)" ><img style="height:50px;margin-top:-10px;margin-right: 10;" src="./images/statistics.png" style="height:12%;width:15%;" /></a></p>
</div>
    </div>
</div>

<!-- <button style="margin-left: 50px; padding:10px; font-size:10; color:red" onclick="send('cmd')" value="Go" name="butt">Go</button> -->
<p id='resp' style="margin-left:50px; padding-left:50px; padding-right:50px"></p>
</fieldset>
</form>
{{/if}}
					<!-- </form> .login-form-->
					</div  >
					<div class="col-sm-2">
					</div>
		</div>
		<div class="col-sm-6" style="background-color:#fff;">
		<!-- <div class="col-sm-1" style="background-color:#fff;">
      <form id="log" action="http://localhost:5000/home" method="post" hidden>
        <input type="text" class="input2" name="file" value="">
        <button type="submit" class="button" value="Go" name="butt">
      </form>
					</div> -->
		<div class="col-sm-12" style="background-color:#fff;">
			<div class="row" align="center" style="color:#262626;padding:5px;">
        {{#if device_info.vin}}
			<p>VIN<span id="vin_span">{{device_info.vin}}</span></p>
      {{else}}
      <p color="red">Device not connected</p>
      <br>

      {{/if}}
			</div>


			<div id="mydiv" class="row"  style="text-align:left; background-color:#00a2ed ;color:#262626;padding:20px 0px 15px 0px; ">

        <div class="panel panel-primary">
        <div class="panel-heading" style="color:black;font-size:15px;">Request Command : <input onkeyup="add_cmd()" type="text" id="cmd" class="input3" name="file" value=""><button id="buttn" onclick="send('cmd')"> &nbsp &nbsp &nbsp Go &nbsp &nbsp &nbsp </button></div>
        </div>
		
      <div id="chat" style="font-size:13px;font-family:sans-serif;height:auto;border:2px solid #007ab7;background-color:#fff;border-radius:8px;padding:10px;height:auto;display: block;max-height: 200px;overflow-y: auto;-ms-overflow-style: -ms-autohiding-scrollbar; ">
        <p style="border:3px solid #00a7ed;padding:8px;background-color:#00a7ed;">--> Request :</p>
      </div>
			</div>
		</div>
		<!-- <div class="col-sm-1" style="background-color:#fff;">
					</div> -->
		</div>
		</div>

  </body>
</html>
