.container-fluid{
		margin:10px 0px 5px 10px;

}


.container-fluid .butt {
	float:right;
	margin-top:-70px;
	margin-bottom:0px;
}

.row .col-sm-6{
  text-align:center;
  font-size:20px;
  font-weight:400;
  margin-top:10px;
  color:#fff;
  background-color:#00a2e8;
  }

.row .col1-sm-6{
  text-align:center;
  font-size:20px;
  font-weight:400;
  margin-top:10px;
  color:#00a2e8;
  background-color:;
  }



.form{
margin-top:10px;
padding:30px;
background-color:#00a2e8;
}

.input{
	height:40px;
	width:30%;
}
#filter{
	height:50px;
	padding:10px;
	background-color:yellow;
}

#select{
	height:30px;
	color:#262626;
	margin-left:30px;


}

#vin_span{
	background-color:#cccccc;
	padding:5px 15px 5px 15px;
	margin-left:50px;
	font-family: sans-serif;
	font-size: 15px;
}


.input1{

	height:30px;
	width:20%;
}


.button{
margin-top:20px;
text-align:center;
color:#fff;
background-color:#00a2e8;
border-radius:20px;
font-size:10px;
border:10px solid #00a2e8;
text-transform: uppercase;
padding:1px 10px 2px 10px;
}

.row{
	margin-top:10px;
	margin-left: 0px;
	margin-right: 0px;
}
.row th {
    padding:15px;
	margin:auto;
	margin-left:0px;
	margin-right:0px;
  color:#151515;
  height:10px;
  border-bottom: 15px solid #00a2e8 ;
  text-align:center;
  background-color:#fff;
  width:700px;
  right:0px;
}

.row td {
  padding:15px;
  height:10px;
  color:#151515;
  text-align:center;
  border-bottom: 15px solid #00a2e8 ;
  background-color:#fff;
  width:700px;
  right:0px;
}
.col-sm-1{
	height: 100%;
	background-color:#00a2e8;
}
.col-sm-10{
	background-color:#00a2e8;
	height:100%;
}



.input2{
	border-radius:5px;
	height:30px;
	font-size:15px;
	padding:10px;
	color: black;
}

.input3{
	border-radius:5px;
	height:30px;
	font-size:15px;
	font-weight: bold;
	padding:10px;
	color: black;
}

.select1{
	border-radius:5px;
	font-size:15px;
	padding:5px;
	width:280px;
}
.my-text h6{
font-size:25px;
font-weight:bold;
color:red;
font-family:sans-serif;
}
.disabledbutton {
    pointer-events: none;
    opacity: 0.4;
}

.custom-select {
  position: relative;
  font-family: Arial;
}
.custom-select select {
  display: none; /*hide original SELECT element:*/
}
.select-selected {
  background-color: DodgerBlue;
}
/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}
/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}
/*style items (options):*/
.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}
.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

hr {

	border: none;
	border-bottom: 2px solid #fafafa;
	border-top: 1px solid #dadada;
	margin: 20px 0;
}

/* First style */
.btn1 {
	background: rgb(255, 255, 255);
	border: 1px solid rgb(174, 174, 174);
	border-radius: 50%;
	box-shadow: inset 0 0 7px rgb(236, 236, 236), 0 1px 1px rgb(232, 232, 232);
	color: rgb(109, 111, 118);
	cursor: pointer;
	font-size: 10px;
	height: 48px;
	line-height: 23px;
	padding: 0 8px;
	transition: color 0.3s ease-out, border-color 0.3s ease-out, box-shadow 0.3s ease-out;
}

.btn1.hover,
.btn1:hover {
	color: rgb(72, 156, 206);
	border-color: rgb(92, 176, 226);
	box-shadow: inset 0 0 7px rgb(224, 239, 249), 0 1px 1px rgb(163, 205, 229);
}

.btn1.inactive {
	opacity: 0.7;
}
/* Second style */

.btn2 {
	background: rgb(255, 255, 255);
	border: 1px solid rgb(174, 174, 174);
	border-radius: 50px;
	box-shadow: inset 0 0 7px rgb(236, 236, 236), 0 1px 1px rgb(232, 232, 232);
	color: rgb(109, 111, 118);
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
	height: 48px;
	line-height: 23px;
	padding: 0 8px;
	transition: color 0.3s ease-out, border-color 0.3s ease-out, box-shadow 0.3s ease-out;
}

.btn2.hover,
.btn2:hover {
	color: rgb(20, 141, 214);
	border-color: rgb(20, 141, 214);
	border-width: medium;
	box-shadow: inset 0px 0px 10px 5px rgb(100, 176, 226, 0.6);
	margin-top:10px;
	margin-left: -25px;
}

.btn2.inactive {
	opacity: 0.7;
}
